In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [2]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [3]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [4]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [5]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [6]:
corr=data[numerical_cols].corr()

In [7]:
val= pd.DataFrame(corr['L190500']).sort_values(by='L190500', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.L190500

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(455957, 2)
1 COMPARE
(455957, 2)
2 AGE
(455956, 2)
3 SEX
(455956, 2)
4 L100100
(437943, 2)
5 L100200
(438298, 2)
6 L100300
(431171, 2)
7 L100400
(437567, 2)
8 L100500
(455323, 2)
9 L100700
(438855, 2)
10 L100800
(455838, 2)
11 L101000
(443135, 2)
12 L101100
(236582, 2)
13 L101200
(455939, 2)
14 L101300
(455939, 2)
15 L101400
(393749, 2)
16 L101600
(443045, 2)
17 L101700
(455354, 2)
18 L102000
(68681, 2)
19 L102200
(5256, 2)
20 L102400
(297168, 2)
21 L102500
(15291, 2)
22 L102700
(242629, 2)
23 L102800
(686, 2)
24 L102900
(455051, 2)
25 L103000
(454887, 2)
26 L103100
(454169, 2)
27 L103200
(454167, 2)
28 L103300
(389554, 2)
29 L103400
(170333, 2)
30 L103500
(170278, 2)
31 L103600
(164950, 2)
32 L103700
(195892, 2)
33 L103800
(197849, 2)
34 L103900
(7395, 2)
35 L104000
(9003, 2)
36 L104200
(8019, 2)
37 L104300
(254139, 2)
38 L104400
(240387, 2)
39 L104500
(240391, 2)
40 L104600
(158005, 2)
41 L104800
(12, 2)
42 L104900
(15428, 2)
43 L105200
(455233, 2)
44 L105300
(14, 2)
45 L105700
(16, 2)
46 L107400
(431655, 2)
47 L107500
(426420, 2)
48 L107600
(8237, 2)
49 L107700
(167391, 2)
50 L108000
(0, 2)
51 L108600
(54836, 2)
52 L108700
(54839, 2)
53 L112000
(100, 2)
54 L114200
(11865, 2)
55 L114300
(12280, 2)
56 L114500
(453, 2)
57 L115400
(2535, 2)
58 L115500
(2139, 2)
59 L117700
(2, 2)
60 L120100
(8, 2)
61 L120200
(1, 2)
62 L120300
(14732, 2)
63 L120600
(2, 2)
64 L120700
(15475, 2)
65 L120800
(1, 2)
66 L120900
(1, 2)
67 L121300
(14608, 2)
68 L121400
(1, 2)
69 L122000
(7, 2)
70 L132900
(5, 2)
71 L138200
(154, 2)
72 L142800
(9900, 2)
73 L156100
(53164, 2)
74 L157100
(1, 2)
75 L157400
(1184, 2)
76 L157500
(33, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(455918, 2)
80 L190201
(451304, 2)
81 L190202
(451295, 2)
82 L190203
(451295, 2)
83 L190204
(451295, 2)
84 L190205
(451295, 2)
85 L190206
(451295, 2)
86 L190207
(451295, 2)
87 L190208
(451295, 2)
88 L190209
(451295, 2)
89 L190210
(451295, 2)
90 L190211
(451295, 2)
91 L190300
(455955, 2)
92 L190400
(455952, 2)
93 L190500
(455957, 2)
94 L190600
(433083, 2)
95 L190700
(434749, 2)
96 L190800
(434747, 2)
97 L190900
(430159, 2)
98 L191000
(451654, 2)
99 L191100
(392579, 2)
100 L191200
(427754, 2)
101 L191300
(432082, 2)
102 L191500
(6748, 2)
103 L200500
(30926, 2)
104 L200600
(1, 2)
105 L200700
(7255, 2)
106 L201501
(79, 2)
107 L201502
(79, 2)
108 L201503
(79, 2)
109 L201600
(83, 2)
110 L202700
(32, 2)
111 L210515
(371, 2)
112 L302800
(3146, 2)
113 L303000
(9, 2)
114 L303201
(4, 2)
115 L303202
(4, 2)
116 L303203
(4, 2)
117 L303204
(4, 2)
118 L303205
(4, 2)
119 L305900
(3, 2)
120 L314900
(347, 2)
121 L315100
(1678, 2)
122 L327300
(8516, 2)
123 L336400
(290, 2)
124 L345700
(14509, 2)
125 L345800
(14239, 2)
126 L349100
(0, 2)
127 L359000
(21, 2)
128 L368900
(32, 2)
129 L377800
(272594, 2)
130 L382800
(4, 2)
131 L382900
(5, 2)
132 L393800
(6, 2)
133 L394600
(166, 2)
134 L395000
(154, 2)
135 L397100
(5006, 2)
136 L401202
(447404, 2)
137 L401203
(447404, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(15, 2)
141 L500200
(9892, 2)
142 L500300
(62, 2)
143 L500400
(422179, 2)
144 L500500
(5, 2)
145 L500700
(369858, 2)
146 L500800
(191446, 2)
147 L500900
(7, 2)
148 L501600
(2, 2)
149 L501700
(1619, 2)
150 L501800
(14788, 2)
151 L501900
(17, 2)
152 L502000
(4, 2)
153 L502100
(1, 2)
154 L502300
(12595, 2)
155 L502500
(880, 2)
156 L502600
(3, 2)
157 L502700
(19610, 2)
158 L502800
(3263, 2)
159 L503200
(2, 2)
160 L504700
(393287, 2)
161 L504800
(28857, 2)
162 L504900
(2, 2)
163 L505300
(232090, 2)
164 L505600
(16548, 2)
165 L505700
(325577, 2)
166 L505800
(183914, 2)
167 L505900
(326, 2)
168 L506300
(27636, 2)
169 L510100
(1972, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(2047, 2)
173 L511200
(321, 2)
174 L511300
(345, 2)
175 L512300
(317, 2)
176 L512400
(79669, 2)
177 L512900
(1, 2)
178 L518900
(2, 2)
179 L520100
(25, 2)
180 L520300
(1, 2)
181 L533900
(1, 2)
182 L534700
(37865, 2)
183 L540100
(1, 2)
184 L550300
(4, 2)
185 L573601
(744, 2)
186 L573602
(744, 2)
187 L573603
(744, 2)
188 L573604
(744, 2)
189 L573605
(744, 2)
190 L573606
(744, 2)
191 L573607
(744, 2)
192 L573608
(744, 2)
193 L573609
(744, 2)
194 L573610
(744, 2)
195 L573701
(276, 2)
196 L573702
(276, 2)
197 L573703
(276, 2)
198 L573704
(276, 2)
199 L573705
(276, 2)
200 L573706
(276, 2)
201 L573707
(276, 2)
202 L573708
(276, 2)
203 L573709
(276, 2)
204 L573710
(276, 2)
205 L575500
(1, 2)
206 R602300
(1623, 2)
207 R602400
(0, 2)
208 R602800
(477, 2)
209 S000100
(455738, 2)
210 S000200
(455715, 2)
211 S000300
(454820, 2)
212 S000400
(37, 2)
213 S000501
(455799, 2)
214 S000502
(455799, 2)
215 S000503
(11687, 2)
216 S000504
(11688, 2)
217 S000600
(68105, 2)
218 S000701
(281570, 2)
219 S000702
(281539, 2)
220 S000703
(174089, 2)
221 S000704
(174123, 2)
222 S001001
(92341, 2)
223 S001002
(92338, 2)
224 S001003
(96173, 2)
225 S001004
(92343, 2)
226 S001005
(96169, 2)
227 S001006
(96167, 2)
228 S001101
(14635, 2)
229 S001102
(14623, 2)
230 S001200
(454481, 2)
231 S001300
(12, 2)
232 S001400
(1, 2)
233 S001901
(353887, 2)
234 S001902
(353885, 2)
235 S001903
(354437, 2)
236 S001904
(354435, 2)
237 S001905
(353899, 2)
238 S001906
(353897, 2)
239 S001907
(353886, 2)
240 S001908
(353880, 2)
241 S002701
(68798, 2)
242 S002702
(68797, 2)
243 S004401
(32362, 2)
244 S004402
(32363, 2)
245 S004403
(32363, 2)
246 S004404
(32363, 2)
247 S004405
(32364, 2)
248 S004406
(32364, 2)
249 S004407
(32362, 2)
250 S004408
(32362, 2)
251 S004409
(32363, 2)
252 S004410
(32363, 2)
253 S004411
(32334, 2)
254 S004412
(32322, 2)
255 S004413
(26, 2)
256 S004414
(19, 2)
257 S004415
(12, 2)
258 S004416
(12, 2)
259 S004417
(20, 2)
260 S004418
(20, 2)
261 S004419
(22, 2)
262 S004420
(22, 2)
263 S004421
(25, 2)
264 S004422
(25, 2)
265 S004423
(9, 2)
266 S004424
(9, 2)
267 S005200
(0, 2)
268 S007400
(22, 2)
269 S008501
(922, 2)
270 S008502
(24, 2)
271 S008503
(911, 2)
272 S008504
(912, 2)
273 S010101
(391479, 2)
274 S010102
(391499, 2)
275 CLASS
(455957, 2)

In [8]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
148  L501600  1.000000       2
93   L190500  1.000000  455957
63   L120600  1.000000       2
178  L518900  1.000000       2
159  L503200  1.000000       2
59   L117700  1.000000       2
119  L305900  0.997590       3
92   L190400  0.965465  455952
152  L502000  0.909219       4
91   L190300  0.875347  455955
184  L550300  0.824336       4
118  L303205  0.762943       4
131  L382900  0.748176       5
231  S001300  0.744828      12
3        SEX  0.724861  455956

In [9]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['L190500', 'L190400', 'L190300', 'SEX', 'L100500', 'S000100', 'L100700', 'L103300', 'S000501', 'L100200', 'L104500', 'L104300', 'S000502', 'S000300', 'L101300', 'L190700', 'L101000', 'L101700', 'L107700', 'L103000', 'L190900', 'L103100', 'L190800', 'L101600', 'L101100', 'L190600', 'L107400', 'L500800', 'L504700', 'L103800', 'L190000', 'L100800', 'CLASS', 'L100400', 'L102900', 'L107500', 'L103200', 'L190206', 'L105200', 'L103500']

       Cols      Corr   Count
0   L190500  1.000000  455957
1   L190400  0.965465  455952
2   L190300  0.875347  455955
3       SEX  0.724861  455956
4   L100500  0.544958  455323
5   S000100  0.541336  455738
6   L100700  0.535239  438855
7   L103300  0.349629  389554
8   S000501  0.348392  455799
9   L100200  0.346085  438298
10  L104500  0.341135  240391
11  L104300  0.339304  254139
12  S000502  0.323228  455799
13  S000300  0.323044  454820
14  L101300  0.305471  455939
15  L190700  0.298651  434749
16  L101000  0.289246  443135
17  L101700  0.285502  455354
18  L107700  0.282309  167391
19  L103000  0.281370  454887
20  L190900  0.279683  430159
21  L103100  0.266954  454169
22  L190800  0.266880  434747
23  L101600  0.258686  443045
24  L101100  0.255921  236582
25  L190600  0.237514  433083
26  L107400  0.236657  431655
27  L500800  0.229099  191446
28  L504700  0.224134  393287
29  L103800  0.220160  197849
30  L190000  0.212839  455918
31  L100800  0.203306  455838

Anova test - For categorical values [Questionnaire answers]
=======

In [10]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [11]:
colslist=mydataset.columns
DiabeticColVals=data.L190500

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_15
9 FIELD_16
10 FIELD_17
11 FIELD_18
12 FIELD_19
13 FIELD_20
14 FIELD_21
15 FIELD_22
16 FIELD_23
17 FIELD_24
18 FIELD_25
19 FIELD_26
20 FIELD_27
21 FIELD_28
22 FIELD_29
23 FIELD_30
24 FIELD_31
25 FIELD_32
26 FIELD_33
27 FIELD_34
28 FIELD_35
29 FIELD_36
30 FIELD_37
31 FIELD_38
32 FIELD_40
33 FIELD_41
34 FIELD_42
35 FIELD_43
36 FIELD_44
37 FIELD_45
38 FIELD_46
39 FIELD_47
40 FIELD_48
41 FIELD_49
42 FIELD_50
43 FIELD_51
44 FIELD_52
45 FIELD_53
46 FIELD_54
47 FIELD_55
48 FIELD_56
49 FIELD_57
50 FIELD_58
51 FIELD_59
52 FIELD_60
53 FIELD_61
54 FIELD_62
55 FIELD_63
56 FIELD_64
57 FIELD_65
58 FIELD_66
59 FIELD_67
60 FIELD_68
61 FIELD_69
62 FIELD_70
63 FIELD_72
64 FIELD_73
65 FIELD_74
66 FIELD_75
67 FIELD_76
68 FIELD_77
69 FIELD_80
70 FIELD_81
71 FIELD_84
72 FIELD_85
73 FIELD_90
74 FIELD_91
75 FIELD_93
76 FIELD_94
77 FIELD_95
78 FIELD_96
79 FIELD_97
80 FIELD_98
81 FIELD_101
82 FIELD_102
83 FIELD_103
84 FIELD_105
85 FIELD_106
86 FIELD_112
87 FIELD_113
88 FIELD_114
89 FIELD_115
90 FIELD_116
91 FIELD_117
92 FIELD_118
93 FIELD_119
94 FIELD_120
95 FIELD_121
96 FIELD_122
97 FIELD_123
98 FIELD_124
99 FIELD_125
100 FIELD_126
101 FIELD_127
102 FIELD_128
103 FIELD_129
104 FIELD_130
105 FIELD_131
106 FIELD_132
107 FIELD_133
108 FIELD_134
109 FIELD_135
110 FIELD_136
111 FIELD_137
112 FIELD_138
113 FIELD_139
114 FIELD_140
115 CLASS

In [12]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [13]:
FvalPvalCorr[FvalPvalCorr.Count>100000].head(30)

         Cols             F              P   Count
26   FIELD_33  18578.868818   0.000000e+00  453705
115     CLASS   9306.211991   0.000000e+00  455943
31   FIELD_38   4276.723853   0.000000e+00  423437
32   FIELD_40    949.245549   0.000000e+00  423508
11   FIELD_18    820.022332  3.464978e-180  454631
18   FIELD_25    708.629289  5.256582e-156  449606
33   FIELD_41    492.797188   0.000000e+00  423435
4     FIELD_7    491.108115   0.000000e+00  198907
22   FIELD_29    415.405187  5.715060e-181  453093
34   FIELD_42    127.906208  2.632413e-215  423391
12   FIELD_19    126.692369   2.188743e-29  454841
3     FIELD_6    116.212142  4.074086e-123  170457
1     FIELD_4    108.958115  2.848742e-160  445579
24   FIELD_31     61.171125   2.737186e-27  453039
2     FIELD_5     58.311584   5.572050e-84  143110
25   FIELD_32     52.611363   1.614010e-75  453289
14   FIELD_21     43.612887   4.006377e-11  449611
19   FIELD_26     28.499579   9.376409e-08  449751
6    FIELD_13     17.425796   2.706219e-08  454742
7    FIELD_14     15.830558   1.333875e-07  454767
21   FIELD_28     13.044523   2.162714e-06  452488
0     FIELD_3      7.198642   1.070428e-07  250514
20   FIELD_27      5.562395   3.839832e-03  452587
13   FIELD_20      5.118408   2.367380e-02  449588
8    FIELD_15           NaN            NaN  454755
9    FIELD_16           NaN            NaN  454786
10   FIELD_17           NaN            NaN  454790
15   FIELD_22           NaN            NaN  449623
16   FIELD_23           NaN            NaN  449615
17   FIELD_24           NaN            NaN  448184

In [14]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>100000].Cols)[:30])

['FIELD_33', 'CLASS', 'FIELD_38', 'FIELD_40', 'FIELD_18', 'FIELD_25', 'FIELD_41', 'FIELD_7', 'FIELD_29', 'FIELD_42', 'FIELD_19', 'FIELD_6', 'FIELD_4', 'FIELD_31', 'FIELD_5', 'FIELD_32', 'FIELD_21', 'FIELD_26', 'FIELD_13', 'FIELD_14', 'FIELD_28', 'FIELD_3', 'FIELD_27', 'FIELD_20', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [ ]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [ ]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

In [ ]:
AllTables

In [ ]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

In [ ]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

In [ ]:
AllTables[i]

In [ ]:
mydata.FIELD_73.unique()