In [15]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [16]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [17]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [18]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [19]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [20]:
corr=data[numerical_cols].corr()

In [21]:
val= pd.DataFrame(corr['S000300']).sort_values(by='S000300', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.S000300

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(456178, 2)
1 COMPARE
(456178, 2)
2 AGE
(456177, 2)
3 SEX
(456177, 2)
4 L100100
(436939, 2)
5 L100200
(437322, 2)
6 L100300
(430193, 2)
7 L100400
(436537, 2)
8 L100500
(455276, 2)
9 L100700
(437865, 2)
10 L100800
(455771, 2)
11 L101000
(442097, 2)
12 L101100
(236019, 2)
13 L101200
(455872, 2)
14 L101300
(455872, 2)
15 L101400
(392879, 2)
16 L101600
(442048, 2)
17 L101700
(455326, 2)
18 L102000
(68504, 2)
19 L102200
(5247, 2)
20 L102400
(296471, 2)
21 L102500
(15265, 2)
22 L102700
(242073, 2)
23 L102800
(686, 2)
24 L102900
(454916, 2)
25 L103000
(454747, 2)
26 L103100
(454031, 2)
27 L103200
(454029, 2)
28 L103300
(388686, 2)
29 L103400
(169944, 2)
30 L103500
(169889, 2)
31 L103600
(164567, 2)
32 L103700
(195419, 2)
33 L103800
(197355, 2)
34 L103900
(7368, 2)
35 L104000
(8965, 2)
36 L104200
(7996, 2)
37 L104300
(253554, 2)
38 L104400
(239851, 2)
39 L104500
(239855, 2)
40 L104600
(157666, 2)
41 L104800
(12, 2)
42 L104900
(15397, 2)
43 L105200
(455191, 2)
44 L105300
(14, 2)
45 L105700
(16, 2)
46 L107400
(430656, 2)
47 L107500
(425457, 2)
48 L107600
(8215, 2)
49 L107700
(166986, 2)
50 L108000
(0, 2)
51 L108600
(54509, 2)
52 L108700
(54512, 2)
53 L112000
(100, 2)
54 L114200
(11839, 2)
55 L114300
(12254, 2)
56 L114500
(453, 2)
57 L115400
(2532, 2)
58 L115500
(2139, 2)
59 L117700
(1, 2)
60 L120100
(7, 2)
61 L120200
(1, 2)
62 L120300
(14701, 2)
63 L120600
(2, 2)
64 L120700
(15444, 2)
65 L120800
(1, 2)
66 L120900
(1, 2)
67 L121300
(14556, 2)
68 L121400
(1, 2)
69 L122000
(7, 2)
70 L132900
(5, 2)
71 L138200
(154, 2)
72 L142800
(9876, 2)
73 L156100
(53107, 2)
74 L157100
(1, 2)
75 L157400
(1184, 2)
76 L157500
(33, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(454934, 2)
80 L190201
(450236, 2)
81 L190202
(450227, 2)
82 L190203
(450227, 2)
83 L190204
(450227, 2)
84 L190205
(450227, 2)
85 L190206
(450227, 2)
86 L190207
(450227, 2)
87 L190208
(450227, 2)
88 L190209
(450227, 2)
89 L190210
(450227, 2)
90 L190211
(450227, 2)
91 L190300
(454964, 2)
92 L190400
(455847, 2)
93 L190500
(454820, 2)
94 L190600
(432130, 2)
95 L190700
(433797, 2)
96 L190800
(433795, 2)
97 L190900
(429087, 2)
98 L191000
(450566, 2)
99 L191100
(391589, 2)
100 L191200
(426693, 2)
101 L191300
(431010, 2)
102 L191500
(6744, 2)
103 L200500
(30821, 2)
104 L200600
(1, 2)
105 L200700
(7238, 2)
106 L201501
(75, 2)
107 L201502
(75, 2)
108 L201503
(75, 2)
109 L201600
(79, 2)
110 L202700
(32, 2)
111 L210515
(371, 2)
112 L302800
(3134, 2)
113 L303000
(9, 2)
114 L303201
(4, 2)
115 L303202
(4, 2)
116 L303203
(4, 2)
117 L303204
(4, 2)
118 L303205
(4, 2)
119 L305900
(3, 2)
120 L314900
(347, 2)
121 L315100
(1675, 2)
122 L327300
(8500, 2)
123 L336400
(290, 2)
124 L345700
(14485, 2)
125 L345800
(14219, 2)
126 L349100
(5, 2)
127 L359000
(22, 2)
128 L368900
(32, 2)
129 L377800
(271967, 2)
130 L382800
(4, 2)
131 L382900
(5, 2)
132 L393800
(6, 2)
133 L394600
(166, 2)
134 L395000
(159, 2)
135 L397100
(4985, 2)
136 L401202
(446863, 2)
137 L401203
(446863, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(15, 2)
141 L500200
(9868, 2)
142 L500300
(63, 2)
143 L500400
(421265, 2)
144 L500500
(5, 2)
145 L500700
(369026, 2)
146 L500800
(191043, 2)
147 L500900
(7, 2)
148 L501600
(2, 2)
149 L501700
(1618, 2)
150 L501800
(14765, 2)
151 L501900
(17, 2)
152 L502000
(4, 2)
153 L502100
(1, 2)
154 L502300
(12561, 2)
155 L502500
(879, 2)
156 L502600
(3, 2)
157 L502700
(19602, 2)
158 L502800
(3247, 2)
159 L503200
(2, 2)
160 L504700
(392378, 2)
161 L504800
(28789, 2)
162 L504900
(2, 2)
163 L505300
(232057, 2)
164 L505600
(16478, 2)
165 L505700
(324862, 2)
166 L505800
(183051, 2)
167 L505900
(326, 2)
168 L506300
(27586, 2)
169 L510100
(1968, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(2046, 2)
173 L511200
(320, 2)
174 L511300
(344, 2)
175 L512300
(317, 2)
176 L512400
(79327, 2)
177 L512900
(1, 2)
178 L518900
(2, 2)
179 L520100
(25, 2)
180 L520300
(1, 2)
181 L533900
(1, 2)
182 L534700
(37835, 2)
183 L540100
(1, 2)
184 L550300
(4, 2)
185 L573601
(744, 2)
186 L573602
(744, 2)
187 L573603
(744, 2)
188 L573604
(744, 2)
189 L573605
(744, 2)
190 L573606
(744, 2)
191 L573607
(744, 2)
192 L573608
(744, 2)
193 L573609
(744, 2)
194 L573610
(744, 2)
195 L573701
(271, 2)
196 L573702
(271, 2)
197 L573703
(271, 2)
198 L573704
(271, 2)
199 L573705
(271, 2)
200 L573706
(271, 2)
201 L573707
(271, 2)
202 L573708
(271, 2)
203 L573709
(271, 2)
204 L573710
(271, 2)
205 L575500
(1, 2)
206 R602300
(1625, 2)
207 R602400
(0, 2)
208 R602800
(477, 2)
209 S000100
(456178, 2)
210 S000200
(456177, 2)
211 S000300
(456178, 2)
212 S000400
(37, 2)
213 S000501
(456136, 2)
214 S000502
(456136, 2)
215 S000503
(11702, 2)
216 S000504
(11703, 2)
217 S000600
(68076, 2)
218 S000701
(281800, 2)
219 S000702
(281770, 2)
220 S000703
(174257, 2)
221 S000704
(174290, 2)
222 S001001
(92364, 2)
223 S001002
(92361, 2)
224 S001003
(96196, 2)
225 S001004
(92366, 2)
226 S001005
(96192, 2)
227 S001006
(96190, 2)
228 S001101
(14614, 2)
229 S001102
(14602, 2)
230 S001200
(454765, 2)
231 S001300
(12, 2)
232 S001400
(1, 2)
233 S001901
(353518, 2)
234 S001902
(353516, 2)
235 S001903
(354068, 2)
236 S001904
(354066, 2)
237 S001905
(353530, 2)
238 S001906
(353528, 2)
239 S001907
(353517, 2)
240 S001908
(353511, 2)
241 S002701
(69583, 2)
242 S002702
(69582, 2)
243 S004401
(32335, 2)
244 S004402
(32336, 2)
245 S004403
(32336, 2)
246 S004404
(32336, 2)
247 S004405
(32337, 2)
248 S004406
(32337, 2)
249 S004407
(32335, 2)
250 S004408
(32335, 2)
251 S004409
(32336, 2)
252 S004410
(32336, 2)
253 S004411
(32307, 2)
254 S004412
(32295, 2)
255 S004413
(26, 2)
256 S004414
(19, 2)
257 S004415
(12, 2)
258 S004416
(12, 2)
259 S004417
(20, 2)
260 S004418
(20, 2)
261 S004419
(22, 2)
262 S004420
(22, 2)
263 S004421
(25, 2)
264 S004422
(25, 2)
265 S004423
(9, 2)
266 S004424
(9, 2)
267 S005200
(0, 2)
268 S007400
(3, 2)
269 S008501
(935, 2)
270 S008502
(24, 2)
271 S008503
(924, 2)
272 S008504
(925, 2)
273 S010101
(391176, 2)
274 S010102
(391196, 2)
275 CLASS
(456178, 2)

In [22]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
178  L518900  1.000000       2
63   L120600  1.000000       2
159  L503200  1.000000       2
148  L501600  1.000000       2
211  S000300  1.000000  456178
184  L550300  0.887602       4
118  L303205  0.858116       4
210  S000200  0.856957  456177
212  S000400  0.850807      37
117  L303204  0.810163       4
70   L132900  0.794266       5
266  S004424  0.726933       9
152  L502000  0.705974       4
230  S001200  0.641344  454765
69   L122000  0.542901       7

In [23]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['S000300', 'S000200', 'S001200', 'L103300', 'S000501', 'L100700', 'L103100', 'SEX', 'L103000', 'S000502', 'L190300', 'L101300', 'L190400', 'L190500', 'L100800', 'L100500', 'CLASS', 'L101700', 'S000100', 'L104600', 'L102900', 'L190000', 'L103200', 'L101600', 'L102400', 'L190800', 'S010102', 'S010101', 'L101200', 'L101400', 'L500800', 'L100400', 'L103700', 'AGE', 'L105200', 'L504700', 'L102700', 'L107400', 'L191000', 'L505700']

       Cols      Corr   Count
0   S000300  1.000000  456178
1   S000200  0.856957  456177
2   S001200  0.641344  454765
3   L103300  0.447552  388686
4   S000501  0.432655  456136
5   L100700  0.409238  437865
6   L103100  0.379176  454031
7       SEX  0.373350  456177
8   L103000  0.358677  454747
9   S000502  0.354131  456136
10  L190300  0.352031  454964
11  L101300  0.341885  455872
12  L190400  0.341057  455847
13  L190500  0.323044  454820
14  L100800  0.283489  455771
15  L100500  0.276888  455276
16    CLASS  0.269355  456178
17  L101700  0.257756  455326
18  S000100  0.244266  456178
19  L104600  0.236068  157666
20  L102900  0.208146  454916
21  L190000  0.205997  454934
22  L103200  0.204962  454029
23  L101600  0.196954  442048
24  L102400  0.195775  296471
25  L190800  0.178014  433795
26  S010102  0.154259  391196
27  S010101  0.153945  391176
28  L101200  0.147635  455872
29  L101400  0.140845  392879
30  L500800  0.125922  191043
31  L100400  0.124790  436537

Anova test - For categorical values [Questionnaire answers]
=======

In [24]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [25]:
colslist=mydataset.columns
DiabeticColVals=data.S000300

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_15
9 FIELD_16
10 FIELD_17
11 FIELD_18
12 FIELD_19
13 FIELD_20
14 FIELD_21
15 FIELD_22
16 FIELD_23
17 FIELD_24
18 FIELD_25
19 FIELD_26
20 FIELD_27
21 FIELD_28
22 FIELD_29
23 FIELD_30
24 FIELD_31
25 FIELD_32
26 FIELD_33
27 FIELD_34
28 FIELD_35
29 FIELD_36
30 FIELD_37
31 FIELD_38
32 FIELD_40
33 FIELD_41
34 FIELD_42
35 FIELD_43
36 FIELD_44
37 FIELD_45
38 FIELD_46
39 FIELD_47
40 FIELD_48
41 FIELD_49
42 FIELD_50
43 FIELD_51
44 FIELD_52
45 FIELD_53
46 FIELD_54
47 FIELD_55
48 FIELD_56
49 FIELD_57
50 FIELD_58
51 FIELD_59
52 FIELD_60
53 FIELD_61
54 FIELD_62
55 FIELD_63
56 FIELD_64
57 FIELD_65
58 FIELD_66
59 FIELD_67
60 FIELD_68
61 FIELD_69
62 FIELD_70
63 FIELD_72
64 FIELD_73
65 FIELD_74
66 FIELD_75
67 FIELD_76
68 FIELD_77
69 FIELD_80
70 FIELD_81
71 FIELD_84
72 FIELD_85
73 FIELD_90
74 FIELD_91
75 FIELD_93
76 FIELD_94
77 FIELD_95
78 FIELD_96
79 FIELD_97
80 FIELD_98
81 FIELD_101
82 FIELD_102
83 FIELD_103
84 FIELD_105
85 FIELD_106
86 FIELD_112
87 FIELD_113
88 FIELD_114
89 FIELD_115
90 FIELD_116
91 FIELD_117
92 FIELD_118
93 FIELD_119
94 FIELD_120
95 FIELD_121
96 FIELD_122
97 FIELD_123
98 FIELD_124
99 FIELD_125
100 FIELD_126
101 FIELD_127
102 FIELD_128
103 FIELD_129
104 FIELD_130
105 FIELD_131
106 FIELD_132
107 FIELD_133
108 FIELD_134
109 FIELD_135
110 FIELD_136
111 FIELD_137
112 FIELD_138
113 FIELD_139
114 FIELD_140
115 CLASS

In [26]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [27]:
FvalPvalCorr[FvalPvalCorr.Count>100000].head(30)

         Cols             F             P   Count
115     CLASS  17905.746985  0.000000e+00  456164
26   FIELD_33   4298.264019  0.000000e+00  453968
4     FIELD_7   1209.405704  0.000000e+00  198689
31   FIELD_38    897.588330  0.000000e+00  423628
3     FIELD_6    584.247628  0.000000e+00  170239
32   FIELD_40    547.981074  0.000000e+00  423699
33   FIELD_41    298.650625  0.000000e+00  423627
12   FIELD_19    211.035277  8.369959e-48  455063
24   FIELD_31    194.605062  3.314064e-85  453264
14   FIELD_21    133.412047  7.420749e-31  449816
19   FIELD_26     97.995685  4.215837e-23  449955
20   FIELD_27     85.605399  6.746435e-38  452809
7    FIELD_14     61.426286  2.120821e-27  454990
11   FIELD_18     50.071342  1.484690e-12  454856
21   FIELD_28     32.667079  6.514656e-15  452711
34   FIELD_42     29.522207  1.505938e-46  423583
2     FIELD_5     27.227412  1.194325e-37  143250
18   FIELD_25     22.860360  1.742627e-06  449809
13   FIELD_20     16.198243  5.705633e-05  449791
22   FIELD_29     12.605155  3.355854e-06  453318
6    FIELD_13      8.932028  1.321131e-04  454964
25   FIELD_32      8.036962  8.402790e-10  453552
0     FIELD_3      2.463428  2.203650e-02  250524
1     FIELD_4      1.780208  8.637179e-02  445725
8    FIELD_15           NaN           NaN  454976
9    FIELD_16           NaN           NaN  455008
10   FIELD_17           NaN           NaN  455013
15   FIELD_22           NaN           NaN  449827
16   FIELD_23           NaN           NaN  449820
17   FIELD_24           NaN           NaN  448383

In [28]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>100000].Cols)[:30])

['CLASS', 'FIELD_33', 'FIELD_7', 'FIELD_38', 'FIELD_6', 'FIELD_40', 'FIELD_41', 'FIELD_19', 'FIELD_31', 'FIELD_21', 'FIELD_26', 'FIELD_27', 'FIELD_14', 'FIELD_18', 'FIELD_28', 'FIELD_42', 'FIELD_5', 'FIELD_25', 'FIELD_20', 'FIELD_29', 'FIELD_13', 'FIELD_32', 'FIELD_3', 'FIELD_4', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [26]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [27]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

0 FIELD_3

KeyError: "['L104600'] not in index"

In [ ]:
AllTables

In [18]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_18
9 FIELD_19
10 FIELD_20
11 FIELD_21
12 FIELD_25
13 FIELD_26
14 FIELD_27
15 FIELD_28
16 FIELD_29
17 FIELD_31
18 FIELD_32
19 FIELD_33
20 FIELD_34
21 FIELD_35
22 FIELD_36
23 FIELD_37
24 FIELD_38
25 FIELD_40
26 FIELD_41
27 FIELD_42
28 FIELD_43
29 FIELD_44
30 FIELD_45
31 FIELD_46
32 FIELD_47
33 FIELD_48
34 FIELD_49
35 FIELD_50
36 FIELD_51
37 FIELD_52
38 FIELD_53
39 FIELD_54
40 FIELD_55
41 FIELD_56
42 FIELD_57
43 FIELD_58
44 FIELD_59
45 FIELD_60
46 FIELD_61
47 FIELD_62
48 FIELD_63
49 FIELD_64
50 FIELD_65
51 FIELD_66
52 FIELD_67
53 FIELD_68
54 FIELD_69
55 FIELD_72
56 FIELD_73
57 FIELD_74
58 FIELD_75
59 FIELD_76
60 FIELD_77
61 FIELD_80
62 FIELD_81
63 FIELD_84
64 FIELD_90
65 FIELD_93
66 FIELD_94
67 FIELD_95
68 FIELD_96
69 FIELD_97
70 FIELD_98
71 FIELD_101
72 FIELD_102
73 FIELD_105
74 FIELD_112
75 FIELD_113
76 FIELD_114
77 FIELD_115
78 FIELD_116
79 FIELD_117
80 FIELD_118
81 FIELD_119
82 FIELD_120
83 FIELD_121
84 FIELD_122
85 FIELD_123
86 FIELD_124
87 FIELD_125
88 FIELD_126
89 FIELD_127
90 FIELD_128
91 FIELD_129
92 FIELD_130
93 FIELD_131
94 FIELD_132
95 FIELD_133
96 FIELD_134
97 FIELD_135
98 FIELD_136
99 FIELD_137
100 FIELD_138
101 FIELD_139
102 FIELD_140
103 CLASS

In [19]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

(21, 9)
['CLASS', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_31', 'FIELD_41', 'FIELD_27', 'FIELD_21', 'FIELD_14', 'FIELD_42', 'FIELD_32', 'FIELD_4', 'FIELD_29', 'FIELD_3', 'FIELD_19', 'FIELD_28', 'FIELD_13', 'FIELD_20', 'FIELD_26', 'FIELD_25', 'FIELD_18']

         Name    stat  instances
103     CLASS  914890     457445
19   FIELD_33   13884     455181
24   FIELD_38    9482     424774
25   FIELD_40    1684     424845
17   FIELD_31     992     454534
26   FIELD_41     815     424773
14   FIELD_27     364     454077
11   FIELD_21     180     451086
7    FIELD_14     154     456266
27   FIELD_42     141     424729
18   FIELD_32     140     454766
1     FIELD_4      78     446905
16   FIELD_29      42     454588
0     FIELD_3      36     251201
9    FIELD_19      26     456338
15   FIELD_28      21     453980
6    FIELD_13      17     456239
10   FIELD_20      16     451062
13   FIELD_26      13     451225
12   FIELD_25       7     451079

In [20]:
AllTables[i]

[[[0, 112783, 0], [337211, 0, 0], [0, 0, 7451]], 'CLASS', 457445]

In [21]:
mydata.FIELD_73.unique()

array([     nan, 2.00e+00, 1.00e+00, 5.00e+00, 3.00e+00, 7.00e+00,
       1.00e+03, 1.00e+01, 4.00e+00, 0.00e+00, 3.00e+02, 5.00e+02,
       1.20e+03, 2.20e+01, 1.11e+02, 2.00e+02, 1.10e+02, 6.00e+00,
       2.00e+01, 1.10e+01, 8.00e+00, 3.00e+03, 1.50e+03, 3.40e+01,
       5.55e+02, 3.50e+02, 1.20e+01, 5.50e+01, 2.00e+03, 6.00e+02])