In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [2]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [3]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [4]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [5]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [6]:
corr=data[numerical_cols].corr()

In [7]:
val= pd.DataFrame(corr['S000501']).sort_values(by='S000501', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.S000501

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(457192, 2)
1 COMPARE
(457192, 2)
2 AGE
(457191, 2)
3 SEX
(457191, 2)
4 L100100
(437918, 2)
5 L100200
(438279, 2)
6 L100300
(431134, 2)
7 L100400
(437515, 2)
8 L100500
(456267, 2)
9 L100700
(438796, 2)
10 L100800
(456762, 2)
11 L101000
(443075, 2)
12 L101100
(236559, 2)
13 L101200
(456863, 2)
14 L101300
(456863, 2)
15 L101400
(393735, 2)
16 L101600
(443025, 2)
17 L101700
(456317, 2)
18 L102000
(68674, 2)
19 L102200
(5255, 2)
20 L102400
(297139, 2)
21 L102500
(15288, 2)
22 L102700
(242633, 2)
23 L102800
(686, 2)
24 L102900
(455902, 2)
25 L103000
(455733, 2)
26 L103100
(455017, 2)
27 L103200
(455003, 2)
28 L103300
(389491, 2)
29 L103400
(170299, 2)
30 L103500
(170244, 2)
31 L103600
(164916, 2)
32 L103700
(195853, 2)
33 L103800
(197808, 2)
34 L103900
(7391, 2)
35 L104000
(8998, 2)
36 L104200
(8014, 2)
37 L104300
(254124, 2)
38 L104400
(240375, 2)
39 L104500
(240379, 2)
40 L104600
(157983, 2)
41 L104800
(12, 2)
42 L104900
(15427, 2)
43 L105200
(456178, 2)
44 L105300
(14, 2)
45 L105700
(16, 2)
46 L107400
(431590, 2)
47 L107500
(426384, 2)
48 L107600
(8234, 2)
49 L107700
(167380, 2)
50 L108000
(0, 2)
51 L108600
(54832, 2)
52 L108700
(54835, 2)
53 L112000
(100, 2)
54 L114200
(11865, 2)
55 L114300
(12280, 2)
56 L114500
(453, 2)
57 L115400
(2535, 2)
58 L115500
(2139, 2)
59 L117700
(2, 2)
60 L120100
(8, 2)
61 L120200
(1, 2)
62 L120300
(14731, 2)
63 L120600
(2, 2)
64 L120700
(15474, 2)
65 L120800
(1, 2)
66 L120900
(1, 2)
67 L121300
(14606, 2)
68 L121400
(1, 2)
69 L122000
(7, 2)
70 L132900
(5, 2)
71 L138200
(154, 2)
72 L142800
(9899, 2)
73 L156100
(53175, 2)
74 L157100
(1, 2)
75 L157400
(1184, 2)
76 L157500
(33, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(455913, 2)
80 L190201
(451193, 2)
81 L190202
(451184, 2)
82 L190203
(451184, 2)
83 L190204
(451184, 2)
84 L190205
(451184, 2)
85 L190206
(451184, 2)
86 L190207
(451184, 2)
87 L190208
(451184, 2)
88 L190209
(451184, 2)
89 L190210
(451184, 2)
90 L190211
(451184, 2)
91 L190300
(455943, 2)
92 L190400
(456828, 2)
93 L190500
(455799, 2)
94 L190600
(433073, 2)
95 L190700
(434739, 2)
96 L190800
(434737, 2)
97 L190900
(430025, 2)
98 L191000
(451523, 2)
99 L191100
(392460, 2)
100 L191200
(427620, 2)
101 L191300
(431948, 2)
102 L191500
(6749, 2)
103 L200500
(30919, 2)
104 L200600
(1, 2)
105 L200700
(7254, 2)
106 L201501
(75, 2)
107 L201502
(75, 2)
108 L201503
(75, 2)
109 L201600
(79, 2)
110 L202700
(32, 2)
111 L210515
(371, 2)
112 L302800
(3146, 2)
113 L303000
(9, 2)
114 L303201
(4, 2)
115 L303202
(4, 2)
116 L303203
(4, 2)
117 L303204
(4, 2)
118 L303205
(4, 2)
119 L305900
(3, 2)
120 L314900
(347, 2)
121 L315100
(1677, 2)
122 L327300
(8516, 2)
123 L336400
(290, 2)
124 L345700
(14505, 2)
125 L345800
(14236, 2)
126 L349100
(0, 2)
127 L359000
(22, 2)
128 L368900
(32, 2)
129 L377800
(272571, 2)
130 L382800
(4, 2)
131 L382900
(5, 2)
132 L393800
(6, 2)
133 L394600
(166, 2)
134 L395000
(154, 2)
135 L397100
(5005, 2)
136 L401202
(447790, 2)
137 L401203
(447790, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(15, 2)
141 L500200
(9896, 2)
142 L500300
(63, 2)
143 L500400
(422167, 2)
144 L500500
(5, 2)
145 L500700
(369840, 2)
146 L500800
(191415, 2)
147 L500900
(7, 2)
148 L501600
(2, 2)
149 L501700
(1619, 2)
150 L501800
(14805, 2)
151 L501900
(17, 2)
152 L502000
(4, 2)
153 L502100
(1, 2)
154 L502300
(12611, 2)
155 L502500
(879, 2)
156 L502600
(3, 2)
157 L502700
(19608, 2)
158 L502800
(3263, 2)
159 L503200
(2, 2)
160 L504700
(393242, 2)
161 L504800
(28851, 2)
162 L504900
(2, 2)
163 L505300
(232088, 2)
164 L505600
(16546, 2)
165 L505700
(325553, 2)
166 L505800
(183879, 2)
167 L505900
(326, 2)
168 L506300
(27634, 2)
169 L510100
(1972, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(2045, 2)
173 L511200
(321, 2)
174 L511300
(345, 2)
175 L512300
(317, 2)
176 L512400
(79672, 2)
177 L512900
(1, 2)
178 L518900
(2, 2)
179 L520100
(25, 2)
180 L520300
(1, 2)
181 L533900
(1, 2)
182 L534700
(37867, 2)
183 L540100
(1, 2)
184 L550300
(4, 2)
185 L573601
(744, 2)
186 L573602
(744, 2)
187 L573603
(744, 2)
188 L573604
(744, 2)
189 L573605
(744, 2)
190 L573606
(744, 2)
191 L573607
(744, 2)
192 L573608
(744, 2)
193 L573609
(744, 2)
194 L573610
(744, 2)
195 L573701
(276, 2)
196 L573702
(276, 2)
197 L573703
(276, 2)
198 L573704
(276, 2)
199 L573705
(276, 2)
200 L573706
(276, 2)
201 L573707
(276, 2)
202 L573708
(276, 2)
203 L573709
(276, 2)
204 L573710
(276, 2)
205 L575500
(1, 2)
206 R602300
(1625, 2)
207 R602400
(0, 2)
208 R602800
(477, 2)
209 S000100
(457084, 2)
210 S000200
(457060, 2)
211 S000300
(456136, 2)
212 S000400
(37, 2)
213 S000501
(457192, 2)
214 S000502
(457192, 2)
215 S000503
(11733, 2)
216 S000504
(11734, 2)
217 S000600
(68161, 2)
218 S000701
(282475, 2)
219 S000702
(282445, 2)
220 S000703
(174497, 2)
221 S000704
(174530, 2)
222 S001001
(92404, 2)
223 S001002
(92401, 2)
224 S001003
(96237, 2)
225 S001004
(92406, 2)
226 S001005
(96233, 2)
227 S001006
(96231, 2)
228 S001101
(14642, 2)
229 S001102
(14630, 2)
230 S001200
(455634, 2)
231 S001300
(12, 2)
232 S001400
(1, 2)
233 S001901
(354273, 2)
234 S001902
(354271, 2)
235 S001903
(354823, 2)
236 S001904
(354821, 2)
237 S001905
(354285, 2)
238 S001906
(354283, 2)
239 S001907
(354272, 2)
240 S001908
(354266, 2)
241 S002701
(69719, 2)
242 S002702
(69718, 2)
243 S004401
(32379, 2)
244 S004402
(32380, 2)
245 S004403
(32380, 2)
246 S004404
(32380, 2)
247 S004405
(32381, 2)
248 S004406
(32381, 2)
249 S004407
(32379, 2)
250 S004408
(32379, 2)
251 S004409
(32380, 2)
252 S004410
(32380, 2)
253 S004411
(32351, 2)
254 S004412
(32339, 2)
255 S004413
(26, 2)
256 S004414
(19, 2)
257 S004415
(12, 2)
258 S004416
(12, 2)
259 S004417
(20, 2)
260 S004418
(20, 2)
261 S004419
(22, 2)
262 S004420
(22, 2)
263 S004421
(25, 2)
264 S004422
(25, 2)
265 S004423
(9, 2)
266 S004424
(9, 2)
267 S005200
(0, 2)
268 S007400
(25, 2)
269 S008501
(935, 2)
270 S008502
(24, 2)
271 S008503
(924, 2)
272 S008504
(925, 2)
273 S010101
(391850, 2)
274 S010102
(391870, 2)
275 CLASS
(457192, 2)

In [8]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
63   L120600  1.000000       2
148  L501600  1.000000       2
213  S000501  1.000000  457192
59   L117700  1.000000       2
178  L518900  1.000000       2
159  L503200  1.000000       2
215  S000503  0.882517   11733
231  S001300  0.879478      12
152  L502000  0.875813       4
184  L550300  0.873556       4
70   L132900  0.811705       5
216  S000504  0.779701   11734
214  S000502  0.770960  457192
265  S004423  0.703015       9
130  L382800  0.665494       4

In [9]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['S000501', 'S000502', 'S000300', 'SEX', 'L190400', 'L190300', 'L190500', 'L100700', 'L103300', 'L103000', 'L100800', 'CLASS', 'L100500', 'S000100', 'L101700', 'L101300', 'L101600', 'L103100', 'S010101', 'S010102', 'L102900', 'AGE', 'L104600', 'L500800', 'L103200', 'L190800', 'L100200', 'L101400', 'L190000', 'L504700', 'L103700', 'L101200', 'L100400', 'L100100', 'L103800', 'L105200', 'S000200', 'L102400', 'L107700', 'L101000']

       Cols      Corr   Count
0   S000501  1.000000  457192
1   S000502  0.770960  457192
2   S000300  0.432655  456136
3       SEX  0.363377  457191
4   L190400  0.354792  456828
5   L190300  0.354676  455943
6   L190500  0.348392  455799
7   L100700  0.324852  438796
8   L103300  0.288070  389491
9   L103000  0.275865  455733
10  L100800  0.272010  456762
11    CLASS  0.261367  457192
12  L100500  0.258062  456267
13  S000100  0.254010  457084
14  L101700  0.248109  456317
15  L101300  0.227995  456863
16  L101600  0.215709  443025
17  L103100  0.203145  455017
18  S010101  0.196160  391850
19  S010102  0.194860  391870
20  L102900  0.186935  455902
21      AGE  0.181715  457191
22  L104600  0.167295  157983
23  L500800  0.151745  191415
24  L103200  0.148170  455003
25  L190800  0.145207  434737
26  L100200  0.144432  438279
27  L101400  0.135036  393735
28  L190000  0.134974  455913
29  L504700  0.132217  393242
30  L103700  0.126939  195853
31  L101200  0.124310  456863

Anova test - For categorical values [Questionnaire answers]
=======

In [10]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [11]:
colslist=mydataset.columns
DiabeticColVals=data.S000501

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_15
9 FIELD_16
10 FIELD_17
11 FIELD_18
12 FIELD_19
13 FIELD_20
14 FIELD_21
15 FIELD_22
16 FIELD_23
17 FIELD_24
18 FIELD_25
19 FIELD_26
20 FIELD_27
21 FIELD_28
22 FIELD_29
23 FIELD_30
24 FIELD_31
25 FIELD_32
26 FIELD_33
27 FIELD_34
28 FIELD_35
29 FIELD_36
30 FIELD_37
31 FIELD_38
32 FIELD_40
33 FIELD_41
34 FIELD_42
35 FIELD_43
36 FIELD_44
37 FIELD_45
38 FIELD_46
39 FIELD_47
40 FIELD_48
41 FIELD_49
42 FIELD_50
43 FIELD_51
44 FIELD_52
45 FIELD_53
46 FIELD_54
47 FIELD_55
48 FIELD_56
49 FIELD_57
50 FIELD_58
51 FIELD_59
52 FIELD_60
53 FIELD_61
54 FIELD_62
55 FIELD_63
56 FIELD_64
57 FIELD_65
58 FIELD_66
59 FIELD_67
60 FIELD_68
61 FIELD_69
62 FIELD_70
63 FIELD_72
64 FIELD_73
65 FIELD_74
66 FIELD_75
67 FIELD_76
68 FIELD_77
69 FIELD_80
70 FIELD_81
71 FIELD_84
72 FIELD_85
73 FIELD_90
74 FIELD_91
75 FIELD_93
76 FIELD_94
77 FIELD_95
78 FIELD_96
79 FIELD_97
80 FIELD_98
81 FIELD_101
82 FIELD_102
83 FIELD_103
84 FIELD_105
85 FIELD_106
86 FIELD_112
87 FIELD_113
88 FIELD_114
89 FIELD_115
90 FIELD_116
91 FIELD_117
92 FIELD_118
93 FIELD_119
94 FIELD_120
95 FIELD_121
96 FIELD_122
97 FIELD_123
98 FIELD_124
99 FIELD_125
100 FIELD_126
101 FIELD_127
102 FIELD_128
103 FIELD_129
104 FIELD_130
105 FIELD_131
106 FIELD_132
107 FIELD_133
108 FIELD_134
109 FIELD_135
110 FIELD_136
111 FIELD_137
112 FIELD_138
113 FIELD_139
114 FIELD_140
115 CLASS

In [12]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [13]:
FvalPvalCorr[FvalPvalCorr.Count>100000].head(30)

         Cols             F              P   Count
115     CLASS  16860.522818   0.000000e+00  457178
26   FIELD_33   3238.120265   0.000000e+00  454967
4     FIELD_7   2502.312099   0.000000e+00  199616
31   FIELD_38   1374.807563   0.000000e+00  424567
3     FIELD_6    552.817179   0.000000e+00  171163
32   FIELD_40    478.345960   0.000000e+00  424638
22   FIELD_29    349.773960  1.629029e-152  454322
33   FIELD_41    312.283168   0.000000e+00  424566
20   FIELD_27    311.121207  9.425967e-136  453812
34   FIELD_42     59.411344   1.597144e-97  424522
14   FIELD_21     42.855187   5.900841e-11  450821
2     FIELD_5     34.253466   4.568667e-48  143454
21   FIELD_28     33.340697   3.321875e-15  453714
13   FIELD_20     29.180356   6.597766e-08  450797
7    FIELD_14     21.158814   6.475453e-10  455999
6    FIELD_13     18.058195   1.437924e-08  455973
25   FIELD_32      8.414112   2.507522e-10  454549
11   FIELD_18      5.252415   2.191679e-02  455864
1     FIELD_4      4.105856   1.613466e-04  446710
18   FIELD_25      3.355384   6.698624e-02  450814
0     FIELD_3      0.731221   6.244142e-01  251106
19   FIELD_26      0.454976   4.999818e-01  450960
24   FIELD_31      0.373529   6.883011e-01  454268
12   FIELD_19      0.204528   6.510909e-01  456072
8    FIELD_15           NaN            NaN  455986
9    FIELD_16           NaN            NaN  456017
10   FIELD_17           NaN            NaN  456021
15   FIELD_22           NaN            NaN  450833
16   FIELD_23           NaN            NaN  450825
17   FIELD_24           NaN            NaN  449382

In [14]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>100000].Cols)[:30])

['CLASS', 'FIELD_33', 'FIELD_7', 'FIELD_38', 'FIELD_6', 'FIELD_40', 'FIELD_29', 'FIELD_41', 'FIELD_27', 'FIELD_42', 'FIELD_21', 'FIELD_5', 'FIELD_28', 'FIELD_20', 'FIELD_14', 'FIELD_13', 'FIELD_32', 'FIELD_18', 'FIELD_4', 'FIELD_25', 'FIELD_3', 'FIELD_26', 'FIELD_31', 'FIELD_19', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [ ]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [ ]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

In [ ]:
AllTables

In [ ]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

In [ ]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

In [ ]:
AllTables[i]

In [ ]:
mydata.FIELD_73.unique()