In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [2]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [3]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [4]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [5]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [6]:
corr=data[numerical_cols].corr()

In [7]:
val= pd.DataFrame(corr['L103300']).sort_values(by='L103300', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.L103300

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(389604, 2)
1 COMPARE
(389604, 2)
2 AGE
(389603, 2)
3 SEX
(389603, 2)
4 L100100
(383656, 2)
5 L100200
(383635, 2)
6 L100300
(382576, 2)
7 L100400
(389517, 2)
8 L100500
(389569, 2)
9 L100700
(376906, 2)
10 L100800
(389598, 2)
11 L101000
(388855, 2)
12 L101100
(200678, 2)
13 L101200
(389598, 2)
14 L101300
(389598, 2)
15 L101400
(350374, 2)
16 L101600
(388640, 2)
17 L101700
(389596, 2)
18 L102000
(62060, 2)
19 L102200
(5256, 2)
20 L102400
(260004, 2)
21 L102500
(12735, 2)
22 L102700
(208173, 2)
23 L102800
(680, 2)
24 L102900
(389603, 2)
25 L103000
(389603, 2)
26 L103100
(389603, 2)
27 L103200
(389602, 2)
28 L103300
(389604, 2)
29 L103400
(152190, 2)
30 L103500
(152135, 2)
31 L103600
(148083, 2)
32 L103700
(167898, 2)
33 L103800
(171900, 2)
34 L103900
(7396, 2)
35 L104000
(8138, 2)
36 L104200
(8020, 2)
37 L104300
(228649, 2)
38 L104400
(215485, 2)
39 L104500
(215488, 2)
40 L104600
(138790, 2)
41 L104800
(12, 2)
42 L104900
(7174, 2)
43 L105200
(389483, 2)
44 L105300
(13, 2)
45 L105700
(15, 2)
46 L107400
(388895, 2)
47 L107500
(380344, 2)
48 L107600
(8238, 2)
49 L107700
(142835, 2)
50 L108000
(0, 2)
51 L108600
(45862, 2)
52 L108700
(45864, 2)
53 L112000
(0, 2)
54 L114200
(9828, 2)
55 L114300
(10315, 2)
56 L114500
(359, 2)
57 L115400
(1407, 2)
58 L115500
(1078, 2)
59 L117700
(2, 2)
60 L120100
(8, 2)
61 L120200
(1, 2)
62 L120300
(6498, 2)
63 L120600
(2, 2)
64 L120700
(6720, 2)
65 L120800
(1, 2)
66 L120900
(1, 2)
67 L121300
(9213, 2)
68 L121400
(1, 2)
69 L122000
(3, 2)
70 L132900
(5, 2)
71 L138200
(82, 2)
72 L142800
(8295, 2)
73 L156100
(44503, 2)
74 L157100
(1, 2)
75 L157400
(522, 2)
76 L157500
(24, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(389574, 2)
80 L190201
(389513, 2)
81 L190202
(389506, 2)
82 L190203
(389506, 2)
83 L190204
(389506, 2)
84 L190205
(389506, 2)
85 L190206
(389506, 2)
86 L190207
(389506, 2)
87 L190208
(389506, 2)
88 L190209
(389506, 2)
89 L190210
(389506, 2)
90 L190211
(389506, 2)
91 L190300
(389574, 2)
92 L190400
(389578, 2)
93 L190500
(389554, 2)
94 L190600
(382546, 2)
95 L190700
(382330, 2)
96 L190800
(382330, 2)
97 L190900
(380029, 2)
98 L191000
(389507, 2)
99 L191100
(356112, 2)
100 L191200
(381131, 2)
101 L191300
(380247, 2)
102 L191500
(6688, 2)
103 L200500
(27039, 2)
104 L200600
(0, 2)
105 L200700
(6582, 2)
106 L201501
(67, 2)
107 L201502
(67, 2)
108 L201503
(67, 2)
109 L201600
(71, 2)
110 L202700
(32, 2)
111 L210515
(4, 2)
112 L302800
(34, 2)
113 L303000
(9, 2)
114 L303201
(4, 2)
115 L303202
(4, 2)
116 L303203
(4, 2)
117 L303204
(4, 2)
118 L303205
(4, 2)
119 L305900
(3, 2)
120 L314900
(346, 2)
121 L315100
(1397, 2)
122 L327300
(7468, 2)
123 L336400
(288, 2)
124 L345700
(10044, 2)
125 L345800
(10061, 2)
126 L349100
(5, 2)
127 L359000
(21, 2)
128 L368900
(28, 2)
129 L377800
(245403, 2)
130 L382800
(4, 2)
131 L382900
(5, 2)
132 L393800
(6, 2)
133 L394600
(146, 2)
134 L395000
(6, 2)
135 L397100
(4567, 2)
136 L401202
(382143, 2)
137 L401203
(382143, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(15, 2)
141 L500200
(8286, 2)
142 L500300
(59, 2)
143 L500400
(366706, 2)
144 L500500
(5, 2)
145 L500700
(319214, 2)
146 L500800
(169534, 2)
147 L500900
(7, 2)
148 L501600
(2, 2)
149 L501700
(1103, 2)
150 L501800
(12515, 2)
151 L501900
(16, 2)
152 L502000
(4, 2)
153 L502100
(1, 2)
154 L502300
(10273, 2)
155 L502500
(731, 2)
156 L502600
(3, 2)
157 L502700
(17116, 2)
158 L502800
(3263, 2)
159 L503200
(2, 2)
160 L504700
(345105, 2)
161 L504800
(25611, 2)
162 L504900
(1, 2)
163 L505300
(200227, 2)
164 L505600
(15928, 2)
165 L505700
(283794, 2)
166 L505800
(160342, 2)
167 L505900
(186, 2)
168 L506300
(24086, 2)
169 L510100
(1855, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(2039, 2)
173 L511200
(321, 2)
174 L511300
(345, 2)
175 L512300
(314, 2)
176 L512400
(69687, 2)
177 L512900
(1, 2)
178 L518900
(2, 2)
179 L520100
(24, 2)
180 L520300
(1, 2)
181 L533900
(1, 2)
182 L534700
(29063, 2)
183 L540100
(1, 2)
184 L550300
(4, 2)
185 L573601
(302, 2)
186 L573602
(302, 2)
187 L573603
(302, 2)
188 L573604
(302, 2)
189 L573605
(302, 2)
190 L573606
(302, 2)
191 L573607
(302, 2)
192 L573608
(302, 2)
193 L573609
(302, 2)
194 L573610
(302, 2)
195 L573701
(249, 2)
196 L573702
(249, 2)
197 L573703
(249, 2)
198 L573704
(249, 2)
199 L573705
(249, 2)
200 L573706
(249, 2)
201 L573707
(249, 2)
202 L573708
(249, 2)
203 L573709
(249, 2)
204 L573710
(249, 2)
205 L575500
(1, 2)
206 R602300
(1456, 2)
207 R602400
(0, 2)
208 R602800
(297, 2)
209 S000100
(389443, 2)
210 S000200
(389422, 2)
211 S000300
(388686, 2)
212 S000400
(0, 2)
213 S000501
(389491, 2)
214 S000502
(389491, 2)
215 S000503
(9858, 2)
216 S000504
(9860, 2)
217 S000600
(58557, 2)
218 S000701
(237979, 2)
219 S000702
(237951, 2)
220 S000703
(151283, 2)
221 S000704
(151314, 2)
222 S001001
(69873, 2)
223 S001002
(69870, 2)
224 S001003
(73197, 2)
225 S001004
(69874, 2)
226 S001005
(73194, 2)
227 S001006
(73192, 2)
228 S001101
(6390, 2)
229 S001102
(6384, 2)
230 S001200
(388880, 2)
231 S001300
(0, 2)
232 S001400
(0, 2)
233 S001901
(315461, 2)
234 S001902
(315460, 2)
235 S001903
(316009, 2)
236 S001904
(316008, 2)
237 S001905
(315473, 2)
238 S001906
(315472, 2)
239 S001907
(315460, 2)
240 S001908
(315455, 2)
241 S002701
(57617, 2)
242 S002702
(57617, 2)
243 S004401
(15643, 2)
244 S004402
(15644, 2)
245 S004403
(15644, 2)
246 S004404
(15644, 2)
247 S004405
(15644, 2)
248 S004406
(15644, 2)
249 S004407
(15643, 2)
250 S004408
(15643, 2)
251 S004409
(15644, 2)
252 S004410
(15644, 2)
253 S004411
(15634, 2)
254 S004412
(15624, 2)
255 S004413
(8, 2)
256 S004414
(3, 2)
257 S004415
(0, 2)
258 S004416
(0, 2)
259 S004417
(0, 2)
260 S004418
(0, 2)
261 S004419
(1, 2)
262 S004420
(1, 2)
263 S004421
(1, 2)
264 S004422
(1, 2)
265 S004423
(0, 2)
266 S004424
(0, 2)
267 S005200
(0, 2)
268 S007400
(0, 2)
269 S008501
(735, 2)
270 S008502
(19, 2)
271 S008503
(726, 2)
272 S008504
(730, 2)
273 S010101
(343659, 2)
274 S010102
(343670, 2)
275 CLASS
(389604, 2)

In [8]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
159  L503200  1.000000       2
148  L501600  1.000000       2
63   L120600  1.000000       2
28   L103300  1.000000  389604
59   L117700  1.000000       2
178  L518900  1.000000       2
156  L502600  0.904194       3
56   L114500  0.846753     359
184  L550300  0.845643       4
70   L132900  0.787088       5
55   L114300  0.782031   10315
26   L103100  0.742084  389603
114  L303201  0.730297       4
151  L501900  0.631887      16
25   L103000  0.609875  389603

In [9]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['L103300', 'L103100', 'L103000', 'L103200', 'L102900', 'S000300', 'SEX', 'L100700', 'L190300', 'L190400', 'L190500', 'L100500', 'L101300', 'S000501', 'L100800', 'L104600', 'S000502', 'L101700', 'CLASS', 'L101600', 'S000100', 'AGE', 'L101400', 'L105200', 'L190000', 'L190800', 'L100400', 'L102400', 'L107400', 'S010102', 'S010101', 'S000200', 'L101100', 'L504700', 'L101200', 'L107700', 'L500800', 'S001200', 'L103700', 'L191000']

       Cols      Corr   Count
0   L103300  1.000000  389604
1   L103100  0.742084  389603
2   L103000  0.609875  389603
3   L103200  0.593810  389602
4   L102900  0.534708  389603
5   S000300  0.447552  388686
6       SEX  0.400639  389603
7   L100700  0.389115  376906
8   L190300  0.379579  389574
9   L190400  0.367274  389578
10  L190500  0.349629  389554
11  L100500  0.345267  389569
12  L101300  0.309812  389598
13  S000501  0.288070  389491
14  L100800  0.278154  389598
15  L104600  0.267242  138790
16  S000502  0.266973  389491
17  L101700  0.252955  389596
18    CLASS  0.247420  389604
19  L101600  0.245882  388640
20  S000100  0.243967  389443
21      AGE  0.213795  389603
22  L101400  0.206456  350374
23  L105200  0.205818  389483
24  L190000  0.199078  389574
25  L190800  0.188455  382330
26  L100400  0.142117  389517
27  L102400  0.127100  260004
28  L107400  0.125132  388895
29  S010102  0.123657  343670
30  S010101  0.122114  343659
31  S000200  0.121344  389422

Anova test - For categorical values [Questionnaire answers]
=======

In [10]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [11]:
colslist=mydataset.columns
DiabeticColVals=data.L103300

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_15
9 FIELD_16
10 FIELD_17
11 FIELD_18
12 FIELD_19
13 FIELD_20
14 FIELD_21
15 FIELD_22
16 FIELD_23
17 FIELD_24
18 FIELD_25
19 FIELD_26
20 FIELD_27
21 FIELD_28
22 FIELD_29
23 FIELD_30
24 FIELD_31
25 FIELD_32
26 FIELD_33
27 FIELD_34
28 FIELD_35
29 FIELD_36
30 FIELD_37
31 FIELD_38
32 FIELD_40
33 FIELD_41
34 FIELD_42
35 FIELD_43
36 FIELD_44
37 FIELD_45
38 FIELD_46
39 FIELD_47
40 FIELD_48
41 FIELD_49
42 FIELD_50
43 FIELD_51
44 FIELD_52
45 FIELD_53
46 FIELD_54
47 FIELD_55
48 FIELD_56
49 FIELD_57
50 FIELD_58
51 FIELD_59
52 FIELD_60
53 FIELD_61
54 FIELD_62
55 FIELD_63
56 FIELD_64
57 FIELD_65
58 FIELD_66
59 FIELD_67
60 FIELD_68
61 FIELD_69
62 FIELD_70
63 FIELD_72
64 FIELD_73
65 FIELD_74
66 FIELD_75
67 FIELD_76
68 FIELD_77
69 FIELD_80
70 FIELD_81
71 FIELD_84
72 FIELD_85
73 FIELD_90
74 FIELD_91
75 FIELD_93
76 FIELD_94
77 FIELD_95
78 FIELD_96
79 FIELD_97
80 FIELD_98
81 FIELD_101
82 FIELD_102
83 FIELD_103
84 FIELD_105
85 FIELD_106
86 FIELD_112
87 FIELD_113
88 FIELD_114
89 FIELD_115
90 FIELD_116
91 FIELD_117
92 FIELD_118
93 FIELD_119
94 FIELD_120
95 FIELD_121
96 FIELD_122
97 FIELD_123
98 FIELD_124
99 FIELD_125
100 FIELD_126
101 FIELD_127
102 FIELD_128
103 FIELD_129
104 FIELD_130
105 FIELD_131
106 FIELD_132
107 FIELD_133
108 FIELD_134
109 FIELD_135
110 FIELD_136
111 FIELD_137
112 FIELD_138
113 FIELD_139
114 FIELD_140
115 CLASS

In [12]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [13]:
FvalPvalCorr[FvalPvalCorr.Count>100000].head(30)

         Cols             F              P   Count
115     CLASS  12752.028073   0.000000e+00  389590
26   FIELD_33   4876.690281   0.000000e+00  388025
4     FIELD_7   2921.518894   0.000000e+00  172545
3     FIELD_6   1216.256273   0.000000e+00  147896
20   FIELD_27    248.136822  2.016571e-108  386842
21   FIELD_28    202.258682   6.895144e-46  386773
32   FIELD_40    186.945129   0.000000e+00  363027
33   FIELD_41    132.072275  1.947262e-222  362955
31   FIELD_38    100.325254  2.514548e-188  362962
24   FIELD_31     94.810157   6.832035e-42  387230
1     FIELD_4     73.538987  6.332520e-107  381049
22   FIELD_29     69.997460   4.036291e-31  387274
34   FIELD_42     56.923029   2.982407e-93  362926
14   FIELD_21     34.921313   3.435902e-09  384332
18   FIELD_25     28.516646   9.294891e-08  384335
11   FIELD_18     20.704389   5.360922e-06  388492
12   FIELD_19     17.556051   2.790231e-05  388647
13   FIELD_20     12.414831   4.259870e-04  384317
2     FIELD_5     11.651654   6.695625e-15  119593
7    FIELD_14      9.673461   6.294683e-05  388594
6    FIELD_13      7.474437   5.674865e-04  388562
0     FIELD_3      3.402950   2.333601e-03  216083
25   FIELD_32      1.022022   4.085548e-01  387673
19   FIELD_26      0.976016   3.231851e-01  384446
8    FIELD_15           NaN            NaN  388588
9    FIELD_16           NaN            NaN  388602
10   FIELD_17           NaN            NaN  388602
15   FIELD_22           NaN            NaN  384354
16   FIELD_23           NaN            NaN  384340
17   FIELD_24           NaN            NaN  383148

In [14]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>100000].Cols)[:30])

['CLASS', 'FIELD_33', 'FIELD_7', 'FIELD_6', 'FIELD_27', 'FIELD_28', 'FIELD_40', 'FIELD_41', 'FIELD_38', 'FIELD_31', 'FIELD_4', 'FIELD_29', 'FIELD_42', 'FIELD_21', 'FIELD_25', 'FIELD_18', 'FIELD_19', 'FIELD_20', 'FIELD_5', 'FIELD_14', 'FIELD_13', 'FIELD_3', 'FIELD_32', 'FIELD_26', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [26]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [27]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

0 FIELD_3

KeyError: "['L104600'] not in index"

In [ ]:
AllTables

In [18]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_18
9 FIELD_19
10 FIELD_20
11 FIELD_21
12 FIELD_25
13 FIELD_26
14 FIELD_27
15 FIELD_28
16 FIELD_29
17 FIELD_31
18 FIELD_32
19 FIELD_33
20 FIELD_34
21 FIELD_35
22 FIELD_36
23 FIELD_37
24 FIELD_38
25 FIELD_40
26 FIELD_41
27 FIELD_42
28 FIELD_43
29 FIELD_44
30 FIELD_45
31 FIELD_46
32 FIELD_47
33 FIELD_48
34 FIELD_49
35 FIELD_50
36 FIELD_51
37 FIELD_52
38 FIELD_53
39 FIELD_54
40 FIELD_55
41 FIELD_56
42 FIELD_57
43 FIELD_58
44 FIELD_59
45 FIELD_60
46 FIELD_61
47 FIELD_62
48 FIELD_63
49 FIELD_64
50 FIELD_65
51 FIELD_66
52 FIELD_67
53 FIELD_68
54 FIELD_69
55 FIELD_72
56 FIELD_73
57 FIELD_74
58 FIELD_75
59 FIELD_76
60 FIELD_77
61 FIELD_80
62 FIELD_81
63 FIELD_84
64 FIELD_90
65 FIELD_93
66 FIELD_94
67 FIELD_95
68 FIELD_96
69 FIELD_97
70 FIELD_98
71 FIELD_101
72 FIELD_102
73 FIELD_105
74 FIELD_112
75 FIELD_113
76 FIELD_114
77 FIELD_115
78 FIELD_116
79 FIELD_117
80 FIELD_118
81 FIELD_119
82 FIELD_120
83 FIELD_121
84 FIELD_122
85 FIELD_123
86 FIELD_124
87 FIELD_125
88 FIELD_126
89 FIELD_127
90 FIELD_128
91 FIELD_129
92 FIELD_130
93 FIELD_131
94 FIELD_132
95 FIELD_133
96 FIELD_134
97 FIELD_135
98 FIELD_136
99 FIELD_137
100 FIELD_138
101 FIELD_139
102 FIELD_140
103 CLASS

In [19]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

(21, 9)
['CLASS', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_31', 'FIELD_41', 'FIELD_27', 'FIELD_21', 'FIELD_14', 'FIELD_42', 'FIELD_32', 'FIELD_4', 'FIELD_29', 'FIELD_3', 'FIELD_19', 'FIELD_28', 'FIELD_13', 'FIELD_20', 'FIELD_26', 'FIELD_25', 'FIELD_18']

         Name    stat  instances
103     CLASS  914890     457445
19   FIELD_33   13884     455181
24   FIELD_38    9482     424774
25   FIELD_40    1684     424845
17   FIELD_31     992     454534
26   FIELD_41     815     424773
14   FIELD_27     364     454077
11   FIELD_21     180     451086
7    FIELD_14     154     456266
27   FIELD_42     141     424729
18   FIELD_32     140     454766
1     FIELD_4      78     446905
16   FIELD_29      42     454588
0     FIELD_3      36     251201
9    FIELD_19      26     456338
15   FIELD_28      21     453980
6    FIELD_13      17     456239
10   FIELD_20      16     451062
13   FIELD_26      13     451225
12   FIELD_25       7     451079

In [20]:
AllTables[i]

[[[0, 112783, 0], [337211, 0, 0], [0, 0, 7451]], 'CLASS', 457445]

In [21]:
mydata.FIELD_73.unique()

array([     nan, 2.00e+00, 1.00e+00, 5.00e+00, 3.00e+00, 7.00e+00,
       1.00e+03, 1.00e+01, 4.00e+00, 0.00e+00, 3.00e+02, 5.00e+02,
       1.20e+03, 2.20e+01, 1.11e+02, 2.00e+02, 1.10e+02, 6.00e+00,
       2.00e+01, 1.10e+01, 8.00e+00, 3.00e+03, 1.50e+03, 3.40e+01,
       5.55e+02, 3.50e+02, 1.20e+01, 5.50e+01, 2.00e+03, 6.00e+02])