In [8]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [9]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [10]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [11]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [12]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [13]:
corr=data[numerical_cols].corr()

In [14]:
val= pd.DataFrame(corr['L101700']).sort_values(by='L101700', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.L101700

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(456436, 2)
1 COMPARE
(456436, 2)
2 AGE
(456435, 2)
3 SEX
(456435, 2)
4 L100100
(438031, 2)
5 L100200
(438392, 2)
6 L100300
(431245, 2)
7 L100400
(437590, 2)
8 L100500
(456326, 2)
9 L100700
(438909, 2)
10 L100800
(456333, 2)
11 L101000
(443189, 2)
12 L101100
(236608, 2)
13 L101200
(456435, 2)
14 L101300
(456435, 2)
15 L101400
(393827, 2)
16 L101600
(443141, 2)
17 L101700
(456436, 2)
18 L102000
(68682, 2)
19 L102200
(5256, 2)
20 L102400
(297201, 2)
21 L102500
(15295, 2)
22 L102700
(242678, 2)
23 L102800
(686, 2)
24 L102900
(455991, 2)
25 L103000
(455845, 2)
26 L103100
(455130, 2)
27 L103200
(455115, 2)
28 L103300
(389596, 2)
29 L103400
(170340, 2)
30 L103500
(170285, 2)
31 L103600
(164956, 2)
32 L103700
(195902, 2)
33 L103800
(197859, 2)
34 L103900
(7396, 2)
35 L104000
(9004, 2)
36 L104200
(8020, 2)
37 L104300
(254180, 2)
38 L104400
(240428, 2)
39 L104500
(240432, 2)
40 L104600
(158014, 2)
41 L104800
(12, 2)
42 L104900
(15429, 2)
43 L105200
(456236, 2)
44 L105300
(14, 2)
45 L105700
(16, 2)
46 L107400
(431658, 2)
47 L107500
(426494, 2)
48 L107600
(8238, 2)
49 L107700
(167415, 2)
50 L108000
(0, 2)
51 L108600
(54842, 2)
52 L108700
(54845, 2)
53 L112000
(100, 2)
54 L114200
(11791, 2)
55 L114300
(12206, 2)
56 L114500
(453, 2)
57 L115400
(2535, 2)
58 L115500
(2139, 2)
59 L117700
(2, 2)
60 L120100
(8, 2)
61 L120200
(1, 2)
62 L120300
(14733, 2)
63 L120600
(2, 2)
64 L120700
(15476, 2)
65 L120800
(1, 2)
66 L120900
(1, 2)
67 L121300
(14607, 2)
68 L121400
(1, 2)
69 L122000
(7, 2)
70 L132900
(5, 2)
71 L138200
(154, 2)
72 L142800
(9900, 2)
73 L156100
(53185, 2)
74 L157100
(1, 2)
75 L157400
(1184, 2)
76 L157500
(33, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(455468, 2)
80 L190201
(451155, 2)
81 L190202
(451146, 2)
82 L190203
(451146, 2)
83 L190204
(451146, 2)
84 L190205
(451146, 2)
85 L190206
(451146, 2)
86 L190207
(451146, 2)
87 L190208
(451146, 2)
88 L190209
(451146, 2)
89 L190210
(451146, 2)
90 L190211
(451146, 2)
91 L190300
(455498, 2)
92 L190400
(456384, 2)
93 L190500
(455354, 2)
94 L190600
(432665, 2)
95 L190700
(434331, 2)
96 L190800
(434329, 2)
97 L190900
(429615, 2)
98 L191000
(451117, 2)
99 L191100
(392089, 2)
100 L191200
(427210, 2)
101 L191300
(431538, 2)
102 L191500
(6748, 2)
103 L200500
(30925, 2)
104 L200600
(1, 2)
105 L200700
(7255, 2)
106 L201501
(79, 2)
107 L201502
(79, 2)
108 L201503
(79, 2)
109 L201600
(83, 2)
110 L202700
(32, 2)
111 L210515
(371, 2)
112 L302800
(3146, 2)
113 L303000
(9, 2)
114 L303201
(4, 2)
115 L303202
(4, 2)
116 L303203
(4, 2)
117 L303204
(4, 2)
118 L303205
(4, 2)
119 L305900
(3, 2)
120 L314900
(347, 2)
121 L315100
(1678, 2)
122 L327300
(8442, 2)
123 L336400
(290, 2)
124 L345700
(14508, 2)
125 L345800
(14239, 2)
126 L349100
(0, 2)
127 L359000
(22, 2)
128 L368900
(32, 2)
129 L377800
(272642, 2)
130 L382800
(4, 2)
131 L382900
(5, 2)
132 L393800
(6, 2)
133 L394600
(165, 2)
134 L395000
(154, 2)
135 L397100
(5009, 2)
136 L401202
(447071, 2)
137 L401203
(447071, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(15, 2)
141 L500200
(9896, 2)
142 L500300
(63, 2)
143 L500400
(422130, 2)
144 L500500
(5, 2)
145 L500700
(369799, 2)
146 L500800
(191478, 2)
147 L500900
(7, 2)
148 L501600
(2, 2)
149 L501700
(1619, 2)
150 L501800
(14810, 2)
151 L501900
(17, 2)
152 L502000
(4, 2)
153 L502100
(1, 2)
154 L502300
(12616, 2)
155 L502500
(881, 2)
156 L502600
(3, 2)
157 L502700
(19610, 2)
158 L502800
(3263, 2)
159 L503200
(2, 2)
160 L504700
(393342, 2)
161 L504800
(28857, 2)
162 L504900
(2, 2)
163 L505300
(232123, 2)
164 L505600
(16554, 2)
165 L505700
(325628, 2)
166 L505800
(183941, 2)
167 L505900
(326, 2)
168 L506300
(27639, 2)
169 L510100
(1972, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(2047, 2)
173 L511200
(321, 2)
174 L511300
(345, 2)
175 L512300
(317, 2)
176 L512400
(79679, 2)
177 L512900
(1, 2)
178 L518900
(2, 2)
179 L520100
(25, 2)
180 L520300
(1, 2)
181 L533900
(1, 2)
182 L534700
(37872, 2)
183 L540100
(1, 2)
184 L550300
(4, 2)
185 L573601
(744, 2)
186 L573602
(744, 2)
187 L573603
(744, 2)
188 L573604
(744, 2)
189 L573605
(744, 2)
190 L573606
(744, 2)
191 L573607
(744, 2)
192 L573608
(744, 2)
193 L573609
(744, 2)
194 L573610
(744, 2)
195 L573701
(276, 2)
196 L573702
(276, 2)
197 L573703
(276, 2)
198 L573704
(276, 2)
199 L573705
(276, 2)
200 L573706
(276, 2)
201 L573707
(276, 2)
202 L573708
(276, 2)
203 L573709
(276, 2)
204 L573710
(276, 2)
205 L575500
(1, 2)
206 R602300
(1625, 2)
207 R602400
(0, 2)
208 R602800
(477, 2)
209 S000100
(456256, 2)
210 S000200
(456233, 2)
211 S000300
(455326, 2)
212 S000400
(0, 2)
213 S000501
(456317, 2)
214 S000502
(456317, 2)
215 S000503
(11719, 2)
216 S000504
(11720, 2)
217 S000600
(68049, 2)
218 S000701
(281825, 2)
219 S000702
(281794, 2)
220 S000703
(174330, 2)
221 S000704
(174364, 2)
222 S001001
(92355, 2)
223 S001002
(92352, 2)
224 S001003
(96187, 2)
225 S001004
(92357, 2)
226 S001005
(96183, 2)
227 S001006
(96181, 2)
228 S001101
(14636, 2)
229 S001102
(14624, 2)
230 S001200
(455294, 2)
231 S001300
(0, 2)
232 S001400
(1, 2)
233 S001901
(354012, 2)
234 S001902
(354010, 2)
235 S001903
(354562, 2)
236 S001904
(354560, 2)
237 S001905
(354024, 2)
238 S001906
(354022, 2)
239 S001907
(354011, 2)
240 S001908
(354005, 2)
241 S002701
(69169, 2)
242 S002702
(69168, 2)
243 S004401
(32363, 2)
244 S004402
(32364, 2)
245 S004403
(32364, 2)
246 S004404
(32364, 2)
247 S004405
(32365, 2)
248 S004406
(32365, 2)
249 S004407
(32363, 2)
250 S004408
(32363, 2)
251 S004409
(32364, 2)
252 S004410
(32364, 2)
253 S004411
(32335, 2)
254 S004412
(32323, 2)
255 S004413
(26, 2)
256 S004414
(19, 2)
257 S004415
(12, 2)
258 S004416
(12, 2)
259 S004417
(20, 2)
260 S004418
(20, 2)
261 S004419
(22, 2)
262 S004420
(22, 2)
263 S004421
(25, 2)
264 S004422
(25, 2)
265 S004423
(9, 2)
266 S004424
(9, 2)
267 S005200
(0, 2)
268 S007400
(25, 2)
269 S008501
(935, 2)
270 S008502
(24, 2)
271 S008503
(924, 2)
272 S008504
(925, 2)
273 S010101
(391646, 2)
274 S010102
(391666, 2)
275 CLASS
(456436, 2)

In [15]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
159  L503200  1.000000       2
63   L120600  1.000000       2
17   L101700  1.000000  456436
178  L518900  1.000000       2
59   L117700  1.000000       2
148  L501600  1.000000       2
117  L303204  0.976187       4
116  L303203  0.970143       4
156  L502600  0.925644       3
114  L303201  0.867722       4
184  L550300  0.833458       4
265  S004423  0.830730       9
130  L382800  0.751287       4
119  L305900  0.656912       3
60   L120100  0.609996       8

In [16]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['L101700', 'L101300', 'L103000', 'L100700', 'SEX', 'L101200', 'L190400', 'L190500', 'L101600', 'S000300', 'L103300', 'S000501', 'S000502', 'L100800', 'L190300', 'CLASS', 'S000100', 'L100500', 'L102900', 'L104600', 'L504700', 'L104300', 'L103100', 'L190700', 'L190800', 'L500800', 'L190000', 'L101400', 'L100200', 'S010102', 'S010101', 'L102400', 'L103800', 'L190600', 'L107700', 'L107400', 'L101000', 'L190204', 'L101100', 'L103200']

       Cols      Corr   Count
0   L101700  1.000000  456436
1   L101300  0.445032  456435
2   L103000  0.370269  455845
3   L100700  0.312778  438909
4       SEX  0.307707  456435
5   L101200  0.304288  456435
6   L190400  0.295485  456384
7   L190500  0.285502  455354
8   L101600  0.267611  443141
9   S000300  0.257756  455326
10  L103300  0.252955  389596
11  S000501  0.248109  456317
12  S000502  0.245831  456317
13  L100800  0.240470  456333
14  L190300  0.234987  455498
15    CLASS  0.232014  456436
16  S000100  0.202909  456256
17  L100500  0.200827  456326
18  L102900  0.194995  455991
19  L104600  0.157840  158014
20  L504700  0.157657  393342
21  L104300  0.141683  254180
22  L103100  0.139412  455130
23  L190700  0.138627  434331
24  L190800  0.137183  434329
25  L500800  0.134895  191478
26  L190000  0.132817  455468
27  L101400  0.113618  393827
28  L100200  0.110195  438392
29  S010102  0.106697  391666
30  S010101  0.105316  391646
31  L102400  0.099791  297201

Anova test - For categorical values [Questionnaire answers]
=======

In [17]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [18]:
colslist=mydataset.columns
DiabeticColVals=data.L101700

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_15
9 FIELD_16
10 FIELD_17
11 FIELD_18
12 FIELD_19
13 FIELD_20
14 FIELD_21
15 FIELD_22
16 FIELD_23
17 FIELD_24
18 FIELD_25
19 FIELD_26
20 FIELD_27
21 FIELD_28
22 FIELD_29
23 FIELD_30
24 FIELD_31
25 FIELD_32
26 FIELD_33
27 FIELD_34
28 FIELD_35
29 FIELD_36
30 FIELD_37
31 FIELD_38
32 FIELD_40
33 FIELD_41
34 FIELD_42
35 FIELD_43
36 FIELD_44
37 FIELD_45
38 FIELD_46
39 FIELD_47
40 FIELD_48
41 FIELD_49
42 FIELD_50
43 FIELD_51
44 FIELD_52
45 FIELD_53
46 FIELD_54
47 FIELD_55
48 FIELD_56
49 FIELD_57
50 FIELD_58
51 FIELD_59
52 FIELD_60
53 FIELD_61
54 FIELD_62
55 FIELD_63
56 FIELD_64
57 FIELD_65
58 FIELD_66
59 FIELD_67
60 FIELD_68
61 FIELD_69
62 FIELD_70
63 FIELD_72
64 FIELD_73
65 FIELD_74
66 FIELD_75
67 FIELD_76
68 FIELD_77
69 FIELD_80
70 FIELD_81
71 FIELD_84
72 FIELD_85
73 FIELD_90
74 FIELD_91
75 FIELD_93
76 FIELD_94
77 FIELD_95
78 FIELD_96
79 FIELD_97
80 FIELD_98
81 FIELD_101
82 FIELD_102
83 FIELD_103
84 FIELD_105
85 FIELD_106
86 FIELD_112
87 FIELD_113
88 FIELD_114
89 FIELD_115
90 FIELD_116
91 FIELD_117
92 FIELD_118
93 FIELD_119
94 FIELD_120
95 FIELD_121
96 FIELD_122
97 FIELD_123
98 FIELD_124
99 FIELD_125
100 FIELD_126
101 FIELD_127
102 FIELD_128
103 FIELD_129
104 FIELD_130
105 FIELD_131
106 FIELD_132
107 FIELD_133
108 FIELD_134
109 FIELD_135
110 FIELD_136
111 FIELD_137
112 FIELD_138
113 FIELD_139
114 FIELD_140
115 CLASS

In [19]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [20]:
FvalPvalCorr[FvalPvalCorr.Count>100000].head(30)

         Cols             F              P   Count
115     CLASS  13258.435412   0.000000e+00  456422
26   FIELD_33   5432.458978   0.000000e+00  454199
31   FIELD_38   3770.949877   0.000000e+00  423817
4     FIELD_7    586.083058   0.000000e+00  199389
32   FIELD_40    172.127138   0.000000e+00  423888
3     FIELD_6    112.531628  3.726951e-119  170939
11   FIELD_18    101.746899   6.345567e-24  455108
22   FIELD_29     98.374710   1.930501e-43  453567
33   FIELD_41     89.430163  4.558487e-149  423816
14   FIELD_21     83.637564   5.966981e-20  450069
18   FIELD_25     54.415021   1.625943e-13  450063
20   FIELD_27     38.363369   2.189834e-17  453058
7    FIELD_14     37.031037   8.297232e-17  455245
2     FIELD_5     30.860596   4.976257e-43  143035
12   FIELD_19     18.533933   1.669411e-05  455317
34   FIELD_42     11.620927   1.165176e-16  423772
13   FIELD_20     10.139064   1.451698e-03  450045
1     FIELD_4      8.914290   5.008029e-11  445945
0     FIELD_3      8.649896   1.958237e-09  250669
24   FIELD_31      6.113847   2.212207e-03  453513
6    FIELD_13      5.765574   3.133825e-03  455217
19   FIELD_26      3.405759   6.496989e-02  450208
25   FIELD_32      1.360107   2.174002e-01  453787
21   FIELD_28      0.203933   8.155173e-01  452960
8    FIELD_15           NaN            NaN  455231
9    FIELD_16           NaN            NaN  455262
10   FIELD_17           NaN            NaN  455266
15   FIELD_22           NaN            NaN  450080
16   FIELD_23           NaN            NaN  450073
17   FIELD_24           NaN            NaN  448630

In [21]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>100000].Cols)[:30])

['CLASS', 'FIELD_33', 'FIELD_38', 'FIELD_7', 'FIELD_40', 'FIELD_6', 'FIELD_18', 'FIELD_29', 'FIELD_41', 'FIELD_21', 'FIELD_25', 'FIELD_27', 'FIELD_14', 'FIELD_5', 'FIELD_19', 'FIELD_42', 'FIELD_20', 'FIELD_4', 'FIELD_3', 'FIELD_31', 'FIELD_13', 'FIELD_26', 'FIELD_32', 'FIELD_28', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [ ]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [ ]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

In [ ]:
AllTables

In [ ]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

In [ ]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

In [ ]:
AllTables[i]

In [ ]:
mydata.FIELD_73.unique()