In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [4]:
x_original=pd.read_csv('../XLable_onlyDiabeticRemoved.txt')
y_original=pd.read_csv('../TargetLable_onlyDiabeticRemoved.txt')

y_original=y_original[['Unnamed: 0','L101700']]

data= pd.merge(x_original,y_original, how='inner',left_on='Unnamed: 0', right_on='Unnamed: 0')

In [5]:
# data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')

#combine FIELD_6 and FIELD_7 both represent the same thing (Women's marital status)
data['max']=np.min(data[['FIELD_6','FIELD_7']],axis=1)
data=data.drop(columns=['FIELD_6','FIELD_7','B_DAY'])
print(data.shape)

(185843, 407)

In [6]:
# filter the data set 
data=data[data.FIELD_16!=1] # exclude people who are diagnosed for (diabetes) 
data=data[data.FIELD_23!=1] # exclude people who are on medication for diabetes

data=data[data.FIELD_15!=1] # exclude people who are diagnosed for (high blood pressure)
data=data[data.FIELD_22!=1] # exclude people who are on medication for high blood pressure

data=data[data.FIELD_17!=1] # exclude people who are diagnosed for hyperlipidemia
data=data[data.FIELD_24!=1] # exclude people who are on medication for hyperlipidemia

print(data.shape)

(169024, 407)

In [7]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])

Calculate correlation Value - for numerical values
========

In [9]:
corr=data[numerical_cols].corr()
corr=corr.L101700_y
corrvalPD=pd.DataFrame()
corrvalPD['Col']=corr.index
corrvalPD['val']=abs(corr.values)

corrvalPD=corrvalPD.sort_values(by='val',ascending=False)
corrvalPD.head()

           Col       val
129    L368900  1.000000
277  L101700_y  1.000000
133    L393800  1.000000
213    S000400  0.913641
70     L122000  0.871856

In [10]:
#count of none NA values of feature set
mydataset=data.copy()[numerical_cols]
colCount=[]
for i in mydataset.columns:
    colCount.append([i,mydataset[i].dropna().shape[0]])

colCountPD=pd.DataFrame(colCount,columns=['Col','Count'])
colCountPD.head()

          Col   Count
0  Unnamed: 0  169024
1       index  169024
2     COMPARE  169024
3         AGE  169024
4         SEX  169024

In [11]:
mergedColCorrCount=pd.merge(corrvalPD,colCountPD,how='inner',left_on='Col',right_on='Col')
mergedColCorrCount=mergedColCorrCount[mergedColCorrCount.Count>75000]
mergedColCorrCount=mergedColCorrCount.sort_values(by='val', ascending=False)
mergedColCorrCount.head(20)

          Col       val   Count
1   L101700_y  1.000000  168663
5   L101700_x  0.839802  168587
19    L101300  0.344345  168885
21    L103000  0.333116  168575
24        SEX  0.295707  169024
25    L100700  0.293688  161652
29    L101200  0.285103  168885
31    L190400  0.275196  168879
32    L190500  0.265654  168841
34    S000300  0.252110  168710
37    S000501  0.234691  168945
38    L100800  0.229883  168874
39    L103300  0.229319  143521
40    S000502  0.228611  168945
42    L190300  0.217600  168841
45    L101600  0.205498  161555
47    S000100  0.194880  168939
48    L100500  0.186773  168589
52    L102900  0.169964  168577
53    L504700  0.169799  144249

In [12]:
print(list(mergedColCorrCount.head(22).Col))

['L101700_y', 'L101700_x', 'L101300', 'L103000', 'SEX', 'L100700', 'L101200', 'L190400', 'L190500', 'S000300', 'S000501', 'L100800', 'L103300', 'S000502', 'L190300', 'L101600', 'S000100', 'L100500', 'L102900', 'L504700', 'L104300', 'L103100']

Anova test - For categorical values [Questionnaire answers]
=======

In [13]:
mydataset=data.copy()[categorical_cols] 

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82',
                                 'FIELD_91','FIELD_103','FIELD_118','FIELD_119','FIELD_120','FIELD_121','FIELD_122',
                                 'FIELD_123','FIELD_124','FIELD_125','FIELD_126','FIELD_127','FIELD_128','FIELD_129',
                                 'FIELD_130','FIELD_131','FIELD_132','FIELD_133','FIELD_134','FIELD_135','FIELD_136',
                                  'FIELD_137','FIELD_138','FIELD_139','FIELD_140',
                                  'FIELD_64','FIELD_65','FIELD_66','FIELD_67','FIELD_68','FIELD_69','FIELD_70','FIELD_72',
                                  'FIELD_73','FIELD_74','FIELD_75','FIELD_76','FIELD_77','FIELD_80','FIELD_81','FIELD_84',
                                  'FIELD_85','FIELD_90','FIELD_93','FIELD_94','FIELD_95','FIELD_96','FIELD_97','FIELD_98',
                                  'FIELD_101','FIELD_102','FIELD_105','FIELD_106','FIELD_112','FIELD_113','FIELD_114',
                                  'FIELD_115','FIELD_116','FIELD_117','FIELD_118','FIELD_119','FIELD_9'])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


# mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [14]:
colslist=mydataset.columns
DiabeticColVals=data.L101700_y

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_13
4 FIELD_14
5 FIELD_15
6 FIELD_16
7 FIELD_17
8 FIELD_18
9 FIELD_19
10 FIELD_20
11 FIELD_21
12 FIELD_22
13 FIELD_23
14 FIELD_24
15 FIELD_25
16 FIELD_26
17 FIELD_27
18 FIELD_28
19 FIELD_29
20 FIELD_30
21 FIELD_31
22 FIELD_32
23 FIELD_33
24 FIELD_34
25 FIELD_35
26 FIELD_36
27 FIELD_37
28 FIELD_38
29 FIELD_40
30 FIELD_41
31 FIELD_42
32 FIELD_43
33 FIELD_44
34 FIELD_45
35 FIELD_46
36 FIELD_47
37 FIELD_48
38 FIELD_49
39 FIELD_50
40 FIELD_51
41 FIELD_52
42 FIELD_53
43 FIELD_54
44 FIELD_55
45 FIELD_56
46 FIELD_57
47 FIELD_58
48 FIELD_59
49 FIELD_60
50 FIELD_61
51 FIELD_62
52 FIELD_63

In [15]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [16]:
FvalPvalCorr[FvalPvalCorr.Count>50000].head(30)

        Cols            F              P   Count
23  FIELD_33  2728.090851   0.000000e+00  168342
28  FIELD_38  1810.434505   0.000000e+00  168350
29  FIELD_40   107.235372  1.878451e-157  168354
19  FIELD_29   102.817494   3.734054e-24  168644
8   FIELD_18    66.212196   4.076183e-16  168644
30  FIELD_41    47.616439   5.376605e-68  168323
15  FIELD_25    35.938760   2.040292e-09  168645
11  FIELD_21    27.948501   1.247420e-07  168645
17  FIELD_27    17.602669   2.723450e-05  168644
2    FIELD_5    14.008575   5.306716e-16   71725
4   FIELD_14     8.361722   2.337386e-04  168640
31  FIELD_42     8.330467   2.293845e-11  168299
9   FIELD_19     7.145952   7.514059e-03  168642
1    FIELD_4     5.346612   3.900471e-06  166066
21  FIELD_31     5.308573   2.122194e-02  168645
18  FIELD_28     4.436478   3.518021e-02  168645
0    FIELD_3     3.093924   4.970852e-03   91728
16  FIELD_26     2.336879   1.263443e-01  168645
22  FIELD_32     1.902873   6.468987e-02  168119
10  FIELD_20     0.897143   3.435502e-01  168643
3   FIELD_13     0.300731   7.402774e-01  168644
5   FIELD_15          NaN            NaN  168640
6   FIELD_16          NaN            NaN  168642
7   FIELD_17          NaN            NaN  168643
12  FIELD_22          NaN            NaN  168644
13  FIELD_23          NaN            NaN  168644
14  FIELD_24          NaN            NaN  168200

In [17]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>50000].Cols)[:10])

['FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_29', 'FIELD_18', 'FIELD_41', 'FIELD_25', 'FIELD_21', 'FIELD_27', 'FIELD_5']

=====================
============

In [18]:
mydata=data[['L101700_y', 'L101700_x', 'L101300', 'L103000', 'SEX', 'L100700', 'L101200', 'L190400', 
             'L190500', 'S000300', 'S000501', 'L100800', 'L103300', 'S000502', 'L190300', 'L101600', 
             'S000100', 'L100500', 'L102900', 'L504700', 'L104300', 'L103100','FIELD_33', 'FIELD_38', 
             'FIELD_40', 'FIELD_29', 'FIELD_18', 'FIELD_41', 'FIELD_25', 'FIELD_21', 'FIELD_27', 'FIELD_5']].dropna()

# mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
 

x=mydata[['L101700_x', 'L101300', 'L103000', 'SEX', 'L100700', 'L101200', 'L190400', 
             'L190500', 'S000300', 'S000501', 'L100800', 'L103300', 'S000502', 'L190300', 'L101600', 
             'S000100', 'L100500', 'L102900', 'L504700', 'L104300', 'L103100','FIELD_33', 'FIELD_38', 
             'FIELD_40', 'FIELD_29', 'FIELD_18', 'FIELD_41', 'FIELD_25', 'FIELD_21', 'FIELD_27', 'FIELD_5']]

y=mydata[['L101700_y']]

In [19]:
# # from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest

bestfeatures = SelectKBest(score_func=f_regression, k=10)
fit = bestfeatures.fit(x,y)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(x.columns)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns

# x=x[x.columns[:15]]
print(list(x.columns[:12]))

# 'L103000_x', 'L100700', 'L101700', 'S000300', 'L100800', 'L101300', 'S000501', 'S000502', 'L100500', 'S000100', 'L190000', 'L101600'

['L101700_x', 'L101300', 'L103000', 'SEX', 'L100700', 'L101200', 'L190400', 'L190500', 'S000300', 'S000501', 'L100800', 'L103300']

In [20]:
from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(x,y)

print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers

#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=x.columns)
feat_importances.nlargest(16).plot(kind='barh')
plt.show()

print(feat_importances.nlargest(12).index)

[6.23948739e-01 3.15552683e-02 1.26657263e-02 6.20410526e-02
 1.36015004e-02 1.42933997e-02 1.24413965e-02 1.13094280e-02
 1.23621277e-02 1.07116695e-02 1.07270683e-02 9.23661151e-03
 1.04493393e-02 1.03507170e-02 1.56275014e-02 1.23197975e-02
 9.95694897e-03 1.11333690e-02 1.26273517e-02 1.06135016e-02
 1.03661595e-02 9.80344504e-03 2.10118602e-02 9.50359651e-03
 3.83333387e-03 1.12342816e-03 9.71424853e-03 7.79177877e-04
 1.26307412e-04 4.51513232e-03 1.12507959e-02]

Index(['L101700_x', 'SEX', 'L101300', 'FIELD_38', 'L101600', 'L101200',
       'L100700', 'L103000', 'L504700', 'L190400', 'S000300', 'S000100'],
      dtype='object')

In [21]:
# import seaborn as sns
# temppd=pd.DataFrame(data[['L104600', 'L100800', 'L103300', 'AGE', 'L103000', 'S000300', 'L102900', 'L101600', 
#                           'S000501', 'L103200', 'L103100', 'L101700', 'L101300', 'S000502', 'L190000', 'L190300', 
#                           'L504700', 'L101100', 'L100400', 'SEX','FIELD_31', 'FIELD_33', 'FIELD_21', 'FIELD_27', 
#                           'FIELD_14', 'FIELD_28', 'FIELD_38', 'FIELD_4', 'FIELD_18', 'FIELD_29']]).dropna()  
# temppd['y']=data.L104600
 

# corr = (temppd.corr())
# sns.heatmap(corr, vmin=-1, vmax=1) 

# corr.head(20)

In [23]:

def vifcal(inputdata,depcol):
    vifL5=[]
    import statsmodels.formula.api as sm
    xvars=inputdata.drop([depcol],axis=1)
    xvarnames=xvars.columns
    for i in range(0,xvarnames.shape[0]):
        _y=xvars[xvarnames[i]]
        _x=xvars[xvarnames.drop(xvarnames[i])]
        rsq=sm.ols(formula="_y~_x",data=xvars).fit().rsquared
        vif=round(1/(1-rsq),2)
        print(i,', ',xvarnames[i]," VIF = ",vif)
        if(vif<5):
            vifL5.append(xvarnames[i])
    return vifL5
    
    
newcols = vifcal(mydata,'L101700_y')
print(newcols)

0 ,  L101700_x  VIF =  1.74
1 ,  L101300  VIF =  3.35
2 ,  L103000  VIF =  1.93
3 ,  SEX  VIF =  4.94
4 ,  L100700  VIF =  1.98
5 ,  L101200  VIF =  2.72
6 ,  L190400  VIF =  14.98
7 ,  L190500  VIF =  18.84
8 ,  S000300  VIF =  1.62
9 ,  S000501  VIF =  2.69
10 ,  L100800  VIF =  1.28
11 ,  L103300  VIF =  15.38
12 ,  S000502  VIF =  2.44
13 ,  L190300  VIF =  5.38
14 ,  L101600  VIF =  1.2
15 ,  S000100  VIF =  2.26
16 ,  L100500  VIF =  1.91
17 ,  L102900  VIF =  6.6
18 ,  L504700  VIF =  1.17
19 ,  L104300  VIF =  1.25
20 ,  L103100  VIF =  10.41
21 ,  FIELD_33  VIF =  1.68
22 ,  FIELD_38  VIF =  1.42
23 ,  FIELD_40  VIF =  1.64
24 ,  FIELD_29  VIF =  1.04
25 ,  FIELD_18  VIF =  2.94
26 ,  FIELD_41  VIF =  1.61
27 ,  FIELD_25  VIF =  2.93
28 ,  FIELD_21  VIF =  1.01
29 ,  FIELD_27  VIF =  1.03
30 ,  FIELD_5  VIF =  1.01
['L101700_x', 'L101300', 'L103000', 'SEX', 'L100700', 'L101200', 'S000300', 'S000501', 'L100800', 'S000502', 'L101600', 'S000100', 'L100500', 'L504700', 'L104300', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_29', 'FIELD_18', 'FIELD_41', 'FIELD_25', 'FIELD_21', 'FIELD_27', 'FIELD_5']

In [50]:
mydata=data[['L101700_y', 'L101700_x', 'L101300', 'L103000', 'SEX', 'L100700', 'L101200', 'S000300', 'S000501', 
             'L100800', 'S000502', 'L101600', 'S000100', 'L100500', 'L504700', 'L104300', 'FIELD_33', 
             'FIELD_38', 'FIELD_40', 'FIELD_29', 'FIELD_18', 'FIELD_41', 'FIELD_25', 'FIELD_21', 
             'FIELD_27', 'FIELD_5']].dropna()

x=mydata[['L103000_x', 'L100700', 'L101700', 'S000300', 'L100800', 'L101300', 'S000501', 'S000502', 
             'L100500', 'S000100', 'L190000', 'L101600', 'L101200', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_41', 
             'FIELD_18', 'FIELD_27', 'FIELD_31', 'FIELD_29', 'FIELD_25', 'FIELD_32']]

y=mydata[['L103000_y']]