In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [6]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [7]:
# data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')
data=data.query('FIELD_16 != 1 and FIELD_23 != 1')

In [8]:
data=data[data.SEX==0]
data=data[data.FIELD_15!=1]
data=data[data.FIELD_17!=1]
data=data[data.FIELD_22!=1]
data=data[data.FIELD_24!=1]
data=data[data.AGE>=40]
data=data[data.AGE<50]

In [9]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [10]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [11]:
corr=data[numerical_cols].corr()

In [12]:
val= pd.DataFrame(corr['L103000']).sort_values(by='L103000', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.L103000

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(92671, 2)
1 COMPARE
(92671, 2)
2 AGE
(92671, 2)
3 SEX
(92671, 2)
4 L100100
(86664, 2)
5 L100200
(86753, 2)
6 L100300
(84325, 2)
7 L100400
(87806, 2)
8 L100500
(92668, 2)
9 L100700
(88827, 2)
10 L100800
(92669, 2)
11 L101000
(89187, 2)
12 L101100
(48451, 2)
13 L101200
(92668, 2)
14 L101300
(92668, 2)
15 L101400
(77846, 2)
16 L101600
(89005, 2)
17 L101700
(92667, 2)
18 L102000
(15396, 2)
19 L102200
(847, 2)
20 L102400
(60419, 2)
21 L102500
(3277, 2)
22 L102700
(49151, 2)
23 L102800
(55, 2)
24 L102900
(92671, 2)
25 L103000
(92671, 2)
26 L103100
(92609, 2)
27 L103200
(92608, 2)
28 L103300
(78100, 2)
29 L103400
(32736, 2)
30 L103500
(32733, 2)
31 L103600
(31857, 2)
32 L103700
(37637, 2)
33 L103800
(37607, 2)
34 L103900
(1453, 2)
35 L104000
(1779, 2)
36 L104200
(1503, 2)
37 L104300
(49368, 2)
38 L104400
(47597, 2)
39 L104500
(47597, 2)
40 L104600
(39400, 2)
41 L104800
(6, 2)
42 L104900
(5031, 2)
43 L105200
(92655, 2)
44 L105300
(2, 2)
45 L105700
(2, 2)
46 L107400
(86587, 2)
47 L107500
(82892, 2)
48 L107600
(1565, 2)
49 L107700
(32991, 2)
50 L108000
(0, 2)
51 L108600
(10298, 2)
52 L108700
(10298, 2)
53 L112000
(26, 2)
54 L114200
(2996, 2)
55 L114300
(3093, 2)
56 L114500
(94, 2)
57 L115400
(897, 2)
58 L115500
(806, 2)
59 L117700
(0, 2)
60 L120100
(1, 2)
61 L120200
(0, 2)
62 L120300
(4811, 2)
63 L120600
(1, 2)
64 L120700
(5128, 2)
65 L120800
(1, 2)
66 L120900
(0, 2)
67 L121300
(1480, 2)
68 L121400
(1, 2)
69 L122000
(1, 2)
70 L132900
(0, 2)
71 L138200
(16, 2)
72 L142800
(3174, 2)
73 L156100
(15827, 2)
74 L157100
(0, 2)
75 L157400
(366, 2)
76 L157500
(2, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(92550, 2)
80 L190201
(90944, 2)
81 L190202
(90944, 2)
82 L190203
(90944, 2)
83 L190204
(90944, 2)
84 L190205
(90944, 2)
85 L190206
(90944, 2)
86 L190207
(90944, 2)
87 L190208
(90944, 2)
88 L190209
(90944, 2)
89 L190210
(90944, 2)
90 L190211
(90944, 2)
91 L190300
(92547, 2)
92 L190400
(92663, 2)
93 L190500
(92522, 2)
94 L190600
(84465, 2)
95 L190700
(84536, 2)
96 L190800
(84535, 2)
97 L190900
(83996, 2)
98 L191000
(90928, 2)
99 L191100
(74860, 2)
100 L191200
(82997, 2)
101 L191300
(84057, 2)
102 L191500
(1977, 2)
103 L200500
(5987, 2)
104 L200600
(0, 2)
105 L200700
(1627, 2)
106 L201501
(7, 2)
107 L201502
(7, 2)
108 L201503
(7, 2)
109 L201600
(6, 2)
110 L202700
(9, 2)
111 L210515
(19, 2)
112 L302800
(364, 2)
113 L303000
(1, 2)
114 L303201
(0, 2)
115 L303202
(0, 2)
116 L303203
(0, 2)
117 L303204
(0, 2)
118 L303205
(0, 2)
119 L305900
(0, 2)
120 L314900
(97, 2)
121 L315100
(399, 2)
122 L327300
(2240, 2)
123 L336400
(73, 2)
124 L345700
(2712, 2)
125 L345800
(4092, 2)
126 L349100
(2, 2)
127 L359000
(9, 2)
128 L368900
(0, 2)
129 L377800
(58655, 2)
130 L382800
(3, 2)
131 L382900
(1, 2)
132 L393800
(1, 2)
133 L394600
(44, 2)
134 L395000
(41, 2)
135 L397100
(1096, 2)
136 L401202
(92241, 2)
137 L401203
(92241, 2)
138 L403000
(0, 2)
139 L403100
(0, 2)
140 L403300
(7, 2)
141 L500200
(1635, 2)
142 L500300
(6, 2)
143 L500400
(85693, 2)
144 L500500
(1, 2)
145 L500700
(76329, 2)
146 L500800
(41598, 2)
147 L500900
(5, 2)
148 L501600
(0, 2)
149 L501700
(0, 2)
150 L501800
(1, 2)
151 L501900
(0, 2)
152 L502000
(0, 2)
153 L502100
(0, 2)
154 L502300
(1, 2)
155 L502500
(3, 2)
156 L502600
(0, 2)
157 L502700
(6915, 2)
158 L502800
(417, 2)
159 L503200
(0, 2)
160 L504700
(83045, 2)
161 L504800
(6933, 2)
162 L504900
(0, 2)
163 L505300
(86060, 2)
164 L505600
(23, 2)
165 L505700
(73280, 2)
166 L505800
(0, 2)
167 L505900
(99, 2)
168 L506300
(7226, 2)
169 L510100
(421, 2)
170 L510400
(0, 2)
171 L510700
(0, 2)
172 L511000
(355, 2)
173 L511200
(111, 2)
174 L511300
(113, 2)
175 L512300
(0, 2)
176 L512400
(14364, 2)
177 L512900
(0, 2)
178 L518900
(0, 2)
179 L520100
(2, 2)
180 L520300
(0, 2)
181 L533900
(0, 2)
182 L534700
(11707, 2)
183 L540100
(0, 2)
184 L550300
(1, 2)
185 L573601
(281, 2)
186 L573602
(281, 2)
187 L573603
(281, 2)
188 L573604
(281, 2)
189 L573605
(281, 2)
190 L573606
(281, 2)
191 L573607
(281, 2)
192 L573608
(281, 2)
193 L573609
(281, 2)
194 L573610
(281, 2)
195 L573701
(0, 2)
196 L573702
(0, 2)
197 L573703
(0, 2)
198 L573704
(0, 2)
199 L573705
(0, 2)
200 L573706
(0, 2)
201 L573707
(0, 2)
202 L573708
(0, 2)
203 L573709
(0, 2)
204 L573710
(0, 2)
205 L575500
(0, 2)
206 R602300
(234, 2)
207 R602400
(0, 2)
208 R602800
(79, 2)
209 S000100
(92646, 2)
210 S000200
(92645, 2)
211 S000300
(92642, 2)
212 S000400
(0, 2)
213 S000501
(92651, 2)
214 S000502
(92651, 2)
215 S000503
(3123, 2)
216 S000504
(3123, 2)
217 S000600
(12210, 2)
218 S000701
(45871, 2)
219 S000702
(45869, 2)
220 S000703
(46835, 2)
221 S000704
(46839, 2)
222 S001001
(24880, 2)
223 S001002
(24882, 2)
224 S001003
(25783, 2)
225 S001004
(24882, 2)
226 S001005
(25783, 2)
227 S001006
(25783, 2)
228 S001101
(4809, 2)
229 S001102
(4800, 2)
230 S001200
(92606, 2)
231 S001300
(0, 2)
232 S001400
(0, 2)
233 S001901
(66680, 2)
234 S001902
(66680, 2)
235 S001903
(66689, 2)
236 S001904
(66689, 2)
237 S001905
(66684, 2)
238 S001906
(66684, 2)
239 S001907
(66680, 2)
240 S001908
(66680, 2)
241 S002701
(13516, 2)
242 S002702
(13515, 2)
243 S004401
(12463, 2)
244 S004402
(12463, 2)
245 S004403
(12463, 2)
246 S004404
(12463, 2)
247 S004405
(12463, 2)
248 S004406
(12463, 2)
249 S004407
(12462, 2)
250 S004408
(12462, 2)
251 S004409
(12463, 2)
252 S004410
(12463, 2)
253 S004411
(12450, 2)
254 S004412
(12445, 2)
255 S004413
(12, 2)
256 S004414
(8, 2)
257 S004415
(5, 2)
258 S004416
(5, 2)
259 S004417
(7, 2)
260 S004418
(7, 2)
261 S004419
(7, 2)
262 S004420
(7, 2)
263 S004421
(8, 2)
264 S004422
(8, 2)
265 S004423
(3, 2)
266 S004424
(3, 2)
267 S005200
(0, 2)
268 S007400
(0, 2)
269 S008501
(0, 2)
270 S008502
(0, 2)
271 S008503
(0, 2)
272 S008504
(0, 2)
273 S010101
(84286, 2)
274 S010102
(84301, 2)
275 CLASS
(92671, 2)

In [13]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr  Count
126  L349100  1.000000      2
25   L103000  1.000000  92671
179  L520100  1.000000      2
44   L105300  1.000000      2
45   L105700  1.000000      2
265  S004423  0.999243      3
130  L382800  0.998258      3
266  S004424  0.993133      3
56   L114500  0.854337     94
41   L104800  0.776470      6
28   L103300  0.558632  78100
258  S004416  0.531621      5
107  L201502  0.514356      7
108  L201503  0.511678      7
257  S004415  0.494863      5

In [14]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>50000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(22).Cols))
CorValWithCorr2.head(22)

['L103000', 'L103300', 'L103100', 'L100800', 'L101700', 'L102900', 'S001200', 'CLASS', 'S000300', 'S000200', 'L100700', 'L190000', 'L101300', 'S000501', 'S000502', 'L190400', 'L101000', 'L190800', 'L100100', 'L103200', 'L100300', 'L190300']

       Cols      Corr  Count
0   L103000  1.000000  92671
1   L103300  0.558632  78100
2   L103100  0.367462  92609
3   L100800  0.317597  92669
4   L101700  0.301833  92667
5   L102900  0.299387  92671
6   S001200  0.284589  92606
7     CLASS  0.273043  92671
8   S000300  0.269947  92642
9   S000200  0.239081  92645
10  L100700  0.230528  88827
11  L190000  0.209319  92550
12  L101300  0.208241  92668
13  S000501  0.185370  92651
14  S000502  0.183637  92651
15  L190400  0.157471  92663
16  L101000  0.149916  89187
17  L190800  0.139575  84535
18  L100100  0.127781  86664
19  L103200  0.125625  92608
20  L100300  0.123073  84325
21  L190300  0.120758  92547

Anova test - For categorical values [Questionnaire answers]
=======

In [17]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
#                                   'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82',
#                                  'FIELD_91','FIELD_103','FIELD_118','FIELD_119','FIELD_120','FIELD_121','FIELD_122',
#                                  'FIELD_123','FIELD_124','FIELD_125','FIELD_126','FIELD_127','FIELD_128','FIELD_129',
#                                  'FIELD_130','FIELD_131','FIELD_132','FIELD_133','FIELD_134','FIELD_135','FIELD_136',
#                                   'FIELD_137','FIELD_138','FIELD_139','FIELD_140'])


mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_82',
                                 'FIELD_87','FIELD_88','FIELD_91','FIELD_103','FIELD_108','FIELD_109','FIELD_118',
                                 'FIELD_119','FIELD_120','FIELD_121','FIELD_122','FIELD_123','FIELD_124','FIELD_125',
                                  'FIELD_126','FIELD_127','FIELD_128','FIELD_129',
                                 'FIELD_130','FIELD_131','FIELD_132','FIELD_133','FIELD_134','FIELD_135','FIELD_136',
                                  'FIELD_137','FIELD_138','FIELD_139','FIELD_140',
                                 'FIELD_39','FIELD_6','FIELD_9','FIELD_43','FIELD_44','FIELD_45','FIELD_46','FIELD_47',
                                 'FIELD_59','FIELD_60','FIELD_61'])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [18]:
colslist=mydataset.columns
DiabeticColVals=data.L103000

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_7
4 FIELD_13
5 FIELD_14
6 FIELD_15
7 FIELD_16
8 FIELD_17
9 FIELD_18
10 FIELD_19
11 FIELD_20
12 FIELD_21
13 FIELD_22
14 FIELD_23
15 FIELD_24
16 FIELD_25
17 FIELD_26
18 FIELD_27
19 FIELD_28
20 FIELD_29
21 FIELD_30
22 FIELD_31
23 FIELD_32
24 FIELD_33
25 FIELD_34
26 FIELD_35
27 FIELD_36
28 FIELD_37
29 FIELD_38
30 FIELD_40
31 FIELD_41
32 FIELD_42
33 FIELD_48
34 FIELD_49
35 FIELD_50
36 FIELD_51
37 FIELD_52
38 FIELD_53
39 FIELD_54
40 FIELD_55
41 FIELD_56
42 FIELD_57
43 FIELD_58
44 FIELD_62
45 FIELD_63
46 FIELD_64
47 FIELD_65
48 FIELD_66
49 FIELD_67
50 FIELD_68
51 FIELD_69
52 FIELD_70
53 FIELD_72
54 FIELD_73
55 FIELD_74
56 FIELD_75
57 FIELD_76
58 FIELD_77
59 FIELD_80
60 FIELD_81
61 FIELD_84
62 FIELD_85
63 FIELD_89
64 FIELD_90
65 FIELD_93
66 FIELD_94
67 FIELD_95
68 FIELD_96
69 FIELD_97
70 FIELD_98
71 FIELD_101
72 FIELD_102
73 FIELD_105
74 FIELD_106
75 FIELD_110
76 FIELD_111
77 FIELD_112
78 FIELD_113
79 FIELD_114
80 FIELD_115
81 FIELD_116
82 FIELD_117
83 CLASS

In [19]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [20]:
FvalPvalCorr[FvalPvalCorr.Count>50000].head(30)

        Cols            F              P  Count
83     CLASS  3956.073275   0.000000e+00  92670
24  FIELD_33   420.730959   0.000000e+00  92393
30  FIELD_40   137.710991  9.998672e-203  87213
29  FIELD_38   124.174378  1.782201e-182  87223
31  FIELD_41   102.541494  4.284849e-150  87190
23  FIELD_32    48.071798   1.885138e-40  92254
10  FIELD_19    47.642849   5.146623e-12  92477
22  FIELD_31    26.933327   2.110416e-07  92072
32  FIELD_42    24.899254   1.051316e-38  87175
17  FIELD_26    23.151344   1.499763e-06  91616
9   FIELD_18    22.542891   2.058109e-06  92437
16  FIELD_25    15.686135   7.482678e-05  91581
19  FIELD_28     7.666310   5.627265e-03  91958
12  FIELD_21     7.508711   6.141317e-03  91592
5   FIELD_14     7.190886   7.328779e-03  92460
20  FIELD_29     2.710330   9.970379e-02  92062
4   FIELD_13     1.401946   2.364011e-01  92458
11  FIELD_20     1.336717   2.476168e-01  91593
18  FIELD_27     0.380618   6.834397e-01  91991
1    FIELD_4     0.299193   9.544321e-01  91251
6   FIELD_15          NaN            NaN  92463
7   FIELD_16          NaN            NaN  92459
8   FIELD_17          NaN            NaN  92449
13  FIELD_22          NaN            NaN  91586
14  FIELD_23          NaN            NaN  91586
15  FIELD_24          NaN            NaN  91387

In [21]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>50000].Cols)[:22])

['CLASS', 'FIELD_33', 'FIELD_40', 'FIELD_38', 'FIELD_41', 'FIELD_32', 'FIELD_19', 'FIELD_31', 'FIELD_42', 'FIELD_26', 'FIELD_18', 'FIELD_25', 'FIELD_28', 'FIELD_21', 'FIELD_14', 'FIELD_29', 'FIELD_13', 'FIELD_20', 'FIELD_27', 'FIELD_4', 'FIELD_15', 'FIELD_16']

In [22]:
# from sklearn.linear_model import LinearRegression
# from mlxtend.feature_selection import SequentialFeatureSelector as SFS
# from mlxtend.plotting import plot_sequential_feature_selection as plot_sfs
# from sklearn.ensemble import RandomForestRegressor

# lr = RandomForestRegressor()

# sfs = SFS(lr, 
#           k_features=13, 
#           forward=True, 
#           floating=False, 
#           scoring='neg_mean_squared_error',
#           cv=10)

# sfs = sfs.fit(x, y)
# fig = plot_sfs(sfs.get_metric_dict(), kind='std_err')

# plt.title('Sequential Forward Selection (w. StdErr)')
# plt.grid()
# plt.show()