In [18]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [19]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [20]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [21]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [22]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [23]:
corr=data[numerical_cols].corr()

In [24]:
val= pd.DataFrame(corr['L103000']).sort_values(by='L103000', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.L103000

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(455891, 2)
1 COMPARE
(455891, 2)
2 AGE
(455890, 2)
3 SEX
(455890, 2)
4 L100100
(437997, 2)
5 L100200
(438358, 2)
6 L100300
(431212, 2)
7 L100400
(437458, 2)
8 L100500
(455823, 2)
9 L100700
(438875, 2)
10 L100800
(455880, 2)
11 L101000
(443155, 2)
12 L101100
(236612, 2)
13 L101200
(455881, 2)
14 L101300
(455881, 2)
15 L101400
(393827, 2)
16 L101600
(443105, 2)
17 L101700
(455845, 2)
18 L102000
(68683, 2)
19 L102200
(5256, 2)
20 L102400
(297201, 2)
21 L102500
(15295, 2)
22 L102700
(242684, 2)
23 L102800
(686, 2)
24 L102900
(455888, 2)
25 L103000
(455891, 2)
26 L103100
(455171, 2)
27 L103200
(455156, 2)
28 L103300
(389603, 2)
29 L103400
(170341, 2)
30 L103500
(170286, 2)
31 L103600
(164957, 2)
32 L103700
(195866, 2)
33 L103800
(197823, 2)
34 L103900
(7396, 2)
35 L104000
(9004, 2)
36 L104200
(8020, 2)
37 L104300
(254084, 2)
38 L104400
(240332, 2)
39 L104500
(240336, 2)
40 L104600
(157968, 2)
41 L104800
(12, 2)
42 L104900
(15429, 2)
43 L105200
(455733, 2)
44 L105300
(14, 2)
45 L105700
(16, 2)
46 L107400
(431526, 2)
47 L107500
(426461, 2)
48 L107600
(8238, 2)
49 L107700
(167420, 2)
50 L108000
(0, 2)
51 L108600
(54842, 2)
52 L108700
(54845, 2)
53 L112000
(100, 2)
54 L114200
(11791, 2)
55 L114300
(12206, 2)
56 L114500
(453, 2)
57 L115400
(2535, 2)
58 L115500
(2139, 2)
59 L117700
(2, 2)
60 L120100
(8, 2)
61 L120200
(1, 2)
62 L120300
(14733, 2)
63 L120600
(2, 2)
64 L120700
(15476, 2)
65 L120800
(1, 2)
66 L120900
(1, 2)
67 L121300
(14607, 2)
68 L121400
(1, 2)
69 L122000
(7, 2)
70 L132900
(5, 2)
71 L138200
(154, 2)
72 L142800
(9900, 2)
73 L156100
(53185, 2)
74 L157100
(1, 2)
75 L157400
(1184, 2)
76 L157500
(33, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(455001, 2)
80 L190201
(450684, 2)
81 L190202
(450675, 2)
82 L190203
(450675, 2)
83 L190204
(450675, 2)
84 L190205
(450675, 2)
85 L190206
(450675, 2)
86 L190207
(450675, 2)
87 L190208
(450675, 2)
88 L190209
(450675, 2)
89 L190210
(450675, 2)
90 L190211
(450675, 2)
91 L190300
(455031, 2)
92 L190400
(455841, 2)
93 L190500
(454887, 2)
94 L190600
(432195, 2)
95 L190700
(433861, 2)
96 L190800
(433859, 2)
97 L190900
(429145, 2)
98 L191000
(450647, 2)
99 L191100
(391656, 2)
100 L191200
(426777, 2)
101 L191300
(431105, 2)
102 L191500
(6748, 2)
103 L200500
(30925, 2)
104 L200600
(1, 2)
105 L200700
(7255, 2)
106 L201501
(79, 2)
107 L201502
(79, 2)
108 L201503
(79, 2)
109 L201600
(83, 2)
110 L202700
(32, 2)
111 L210515
(371, 2)
112 L302800
(3146, 2)
113 L303000
(9, 2)
114 L303201
(4, 2)
115 L303202
(4, 2)
116 L303203
(4, 2)
117 L303204
(4, 2)
118 L303205
(4, 2)
119 L305900
(3, 2)
120 L314900
(347, 2)
121 L315100
(1642, 2)
122 L327300
(8442, 2)
123 L336400
(290, 2)
124 L345700
(14509, 2)
125 L345800
(14239, 2)
126 L349100
(5, 2)
127 L359000
(22, 2)
128 L368900
(32, 2)
129 L377800
(272577, 2)
130 L382800
(4, 2)
131 L382900
(5, 2)
132 L393800
(6, 2)
133 L394600
(166, 2)
134 L395000
(159, 2)
135 L397100
(5009, 2)
136 L401202
(446592, 2)
137 L401203
(446592, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(15, 2)
141 L500200
(9894, 2)
142 L500300
(63, 2)
143 L500400
(421878, 2)
144 L500500
(5, 2)
145 L500700
(369548, 2)
146 L500800
(191478, 2)
147 L500900
(7, 2)
148 L501600
(2, 2)
149 L501700
(1619, 2)
150 L501800
(14810, 2)
151 L501900
(17, 2)
152 L502000
(4, 2)
153 L502100
(1, 2)
154 L502300
(12616, 2)
155 L502500
(881, 2)
156 L502600
(3, 2)
157 L502700
(19609, 2)
158 L502800
(3263, 2)
159 L503200
(2, 2)
160 L504700
(393304, 2)
161 L504800
(28820, 2)
162 L504900
(2, 2)
163 L505300
(232030, 2)
164 L505600
(16553, 2)
165 L505700
(325591, 2)
166 L505800
(183964, 2)
167 L505900
(326, 2)
168 L506300
(27638, 2)
169 L510100
(1972, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(2047, 2)
173 L511200
(321, 2)
174 L511300
(345, 2)
175 L512300
(317, 2)
176 L512400
(79671, 2)
177 L512900
(1, 2)
178 L518900
(2, 2)
179 L520100
(25, 2)
180 L520300
(1, 2)
181 L533900
(1, 2)
182 L534700
(37870, 2)
183 L540100
(1, 2)
184 L550300
(4, 2)
185 L573601
(744, 2)
186 L573602
(744, 2)
187 L573603
(744, 2)
188 L573604
(744, 2)
189 L573605
(744, 2)
190 L573606
(744, 2)
191 L573607
(744, 2)
192 L573608
(744, 2)
193 L573609
(744, 2)
194 L573610
(744, 2)
195 L573701
(276, 2)
196 L573702
(276, 2)
197 L573703
(276, 2)
198 L573704
(276, 2)
199 L573705
(276, 2)
200 L573706
(276, 2)
201 L573707
(276, 2)
202 L573708
(276, 2)
203 L573709
(276, 2)
204 L573710
(276, 2)
205 L575500
(1, 2)
206 R602300
(1625, 2)
207 R602400
(0, 2)
208 R602800
(477, 2)
209 S000100
(455678, 2)
210 S000200
(455655, 2)
211 S000300
(454747, 2)
212 S000400
(3, 2)
213 S000501
(455733, 2)
214 S000502
(455733, 2)
215 S000503
(11701, 2)
216 S000504
(11702, 2)
217 S000600
(67927, 2)
218 S000701
(281345, 2)
219 S000702
(281314, 2)
220 S000703
(174236, 2)
221 S000704
(174270, 2)
222 S001001
(92354, 2)
223 S001002
(92351, 2)
224 S001003
(96185, 2)
225 S001004
(92356, 2)
226 S001005
(96181, 2)
227 S001006
(96179, 2)
228 S001101
(14636, 2)
229 S001102
(14624, 2)
230 S001200
(454725, 2)
231 S001300
(0, 2)
232 S001400
(1, 2)
233 S001901
(353836, 2)
234 S001902
(353834, 2)
235 S001903
(354386, 2)
236 S001904
(354384, 2)
237 S001905
(353848, 2)
238 S001906
(353846, 2)
239 S001907
(353835, 2)
240 S001908
(353829, 2)
241 S002701
(68773, 2)
242 S002702
(68772, 2)
243 S004401
(32363, 2)
244 S004402
(32364, 2)
245 S004403
(32364, 2)
246 S004404
(32364, 2)
247 S004405
(32365, 2)
248 S004406
(32365, 2)
249 S004407
(32363, 2)
250 S004408
(32363, 2)
251 S004409
(32364, 2)
252 S004410
(32364, 2)
253 S004411
(32335, 2)
254 S004412
(32323, 2)
255 S004413
(26, 2)
256 S004414
(19, 2)
257 S004415
(12, 2)
258 S004416
(12, 2)
259 S004417
(20, 2)
260 S004418
(20, 2)
261 S004419
(22, 2)
262 S004420
(22, 2)
263 S004421
(25, 2)
264 S004422
(25, 2)
265 S004423
(9, 2)
266 S004424
(9, 2)
267 S005200
(0, 2)
268 S007400
(22, 2)
269 S008501
(933, 2)
270 S008502
(24, 2)
271 S008503
(922, 2)
272 S008504
(923, 2)
273 S010101
(391578, 2)
274 S010102
(391598, 2)
275 CLASS
(455891, 2)

In [25]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
148  L501600  1.000000       2
63   L120600  1.000000       2
59   L117700  1.000000       2
178  L518900  1.000000       2
25   L103000  1.000000  455891
159  L503200  1.000000       2
212  S000400  0.999040       3
156  L502600  0.995259       3
119  L305900  0.947882       3
56   L114500  0.832865     453
118  L303205  0.781404       4
265  S004423  0.770805       9
151  L501900  0.725111      17
184  L550300  0.716727       4
130  L382800  0.674253       4

In [26]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['L103000', 'L103300', 'L103100', 'L101700', 'L100800', 'S000300', 'L100700', 'L102900', 'CLASS', 'SEX', 'L190400', 'L190300', 'L190500', 'S000501', 'L101300', 'S000502', 'L104600', 'L190000', 'L100500', 'S000100', 'L190800', 'L101600', 'L101100', 'S000200', 'S010102', 'L101200', 'S010101', 'L107400', 'L504700', 'L500800', 'S001200', 'AGE', 'L103600', 'L103800', 'L100100', 'L102400', 'L100200', 'L190700', 'L100300', 'L190205']

       Cols      Corr   Count
0   L103000  1.000000  455891
1   L103300  0.609875  389603
2   L103100  0.408160  455171
3   L101700  0.370269  455845
4   L100800  0.363775  455880
5   S000300  0.358677  454747
6   L100700  0.355585  438875
7   L102900  0.317377  455888
8     CLASS  0.317113  455891
9       SEX  0.310515  455890
10  L190400  0.308926  455841
11  L190300  0.283321  455031
12  L190500  0.281370  454887
13  S000501  0.275865  455733
14  L101300  0.275319  455881
15  S000502  0.267896  455733
16  L104600  0.237021  157968
17  L190000  0.222601  455001
18  L100500  0.207867  455823
19  S000100  0.206019  455678
20  L190800  0.197738  433859
21  L101600  0.186206  443105
22  L101100  0.138590  236612
23  S000200  0.138496  455655
24  S010102  0.126496  391598
25  L101200  0.126045  455881
26  S010101  0.123951  391578
27  L107400  0.121286  431526
28  L504700  0.116900  393304
29  L500800  0.112950  191478
30  S001200  0.112396  454725
31      AGE  0.111466  455890

Anova test - For categorical values [Questionnaire answers]
=======

In [27]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [28]:
colslist=mydataset.columns
DiabeticColVals=data.L103000

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_15
9 FIELD_16
10 FIELD_17
11 FIELD_18
12 FIELD_19
13 FIELD_20
14 FIELD_21
15 FIELD_22
16 FIELD_23
17 FIELD_24
18 FIELD_25
19 FIELD_26
20 FIELD_27
21 FIELD_28
22 FIELD_29
23 FIELD_30
24 FIELD_31
25 FIELD_32
26 FIELD_33
27 FIELD_34
28 FIELD_35
29 FIELD_36
30 FIELD_37
31 FIELD_38
32 FIELD_40
33 FIELD_41
34 FIELD_42
35 FIELD_43
36 FIELD_44
37 FIELD_45
38 FIELD_46
39 FIELD_47
40 FIELD_48
41 FIELD_49
42 FIELD_50
43 FIELD_51
44 FIELD_52
45 FIELD_53
46 FIELD_54
47 FIELD_55
48 FIELD_56
49 FIELD_57
50 FIELD_58
51 FIELD_59
52 FIELD_60
53 FIELD_61
54 FIELD_62
55 FIELD_63
56 FIELD_64
57 FIELD_65
58 FIELD_66
59 FIELD_67
60 FIELD_68
61 FIELD_69
62 FIELD_70
63 FIELD_72
64 FIELD_73
65 FIELD_74
66 FIELD_75
67 FIELD_76
68 FIELD_77
69 FIELD_80
70 FIELD_81
71 FIELD_84
72 FIELD_85
73 FIELD_90
74 FIELD_91
75 FIELD_93
76 FIELD_94
77 FIELD_95
78 FIELD_96
79 FIELD_97
80 FIELD_98
81 FIELD_101
82 FIELD_102
83 FIELD_103
84 FIELD_105
85 FIELD_106
86 FIELD_112
87 FIELD_113
88 FIELD_114
89 FIELD_115
90 FIELD_116
91 FIELD_117
92 FIELD_118
93 FIELD_119
94 FIELD_120
95 FIELD_121
96 FIELD_122
97 FIELD_123
98 FIELD_124
99 FIELD_125
100 FIELD_126
101 FIELD_127
102 FIELD_128
103 FIELD_129
104 FIELD_130
105 FIELD_131
106 FIELD_132
107 FIELD_133
108 FIELD_134
109 FIELD_135
110 FIELD_136
111 FIELD_137
112 FIELD_138
113 FIELD_139
114 FIELD_140
115 CLASS

In [29]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [30]:
FvalPvalCorr[FvalPvalCorr.Count>100000].head(30)

         Cols             F              P   Count
115     CLASS  26251.243017   0.000000e+00  455877
26   FIELD_33   5680.110349   0.000000e+00  453625
4     FIELD_7   1479.414584   0.000000e+00  199230
31   FIELD_38   1178.647207   0.000000e+00  423620
3     FIELD_6    476.027835   0.000000e+00  170791
32   FIELD_40    197.199592   0.000000e+00  423691
33   FIELD_41    169.503017  5.329981e-287  423618
24   FIELD_31     82.925984   9.824134e-37  452981
20   FIELD_27     79.636095   2.633713e-35  452527
34   FIELD_42     61.808873  1.243282e-101  423575
11   FIELD_18     42.059807   8.861435e-11  454568
18   FIELD_25     34.317199   4.685501e-09  449564
21   FIELD_28     30.798832   4.218399e-14  452429
2     FIELD_5     25.217320   1.112787e-34  142936
22   FIELD_29     19.138242   4.883355e-09  453032
25   FIELD_32     17.932909   5.432434e-24  453218
14   FIELD_21      8.130040   4.353977e-03  449565
1     FIELD_4      7.536959   4.142185e-09  445383
7    FIELD_14      4.658724   9.479003e-03  454704
19   FIELD_26      3.976064   4.615189e-02  449705
0     FIELD_3      3.417664   2.250224e-03  250335
13   FIELD_20      0.537233   4.635822e-01  449542
6    FIELD_13      0.173045   8.410997e-01  454675
12   FIELD_19      0.102038   7.493973e-01  454776
8    FIELD_15           NaN            NaN  454690
9    FIELD_16           NaN            NaN  454720
10   FIELD_17           NaN            NaN  454724
15   FIELD_22           NaN            NaN  449576
16   FIELD_23           NaN            NaN  449569
17   FIELD_24           NaN            NaN  448127

In [31]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>100000].Cols)[:30])

['CLASS', 'FIELD_33', 'FIELD_7', 'FIELD_38', 'FIELD_6', 'FIELD_40', 'FIELD_41', 'FIELD_31', 'FIELD_27', 'FIELD_42', 'FIELD_18', 'FIELD_25', 'FIELD_28', 'FIELD_5', 'FIELD_29', 'FIELD_32', 'FIELD_21', 'FIELD_4', 'FIELD_14', 'FIELD_26', 'FIELD_3', 'FIELD_20', 'FIELD_13', 'FIELD_19', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [26]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [27]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

0 FIELD_3

KeyError: "['L104600'] not in index"

In [ ]:
AllTables

In [18]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_18
9 FIELD_19
10 FIELD_20
11 FIELD_21
12 FIELD_25
13 FIELD_26
14 FIELD_27
15 FIELD_28
16 FIELD_29
17 FIELD_31
18 FIELD_32
19 FIELD_33
20 FIELD_34
21 FIELD_35
22 FIELD_36
23 FIELD_37
24 FIELD_38
25 FIELD_40
26 FIELD_41
27 FIELD_42
28 FIELD_43
29 FIELD_44
30 FIELD_45
31 FIELD_46
32 FIELD_47
33 FIELD_48
34 FIELD_49
35 FIELD_50
36 FIELD_51
37 FIELD_52
38 FIELD_53
39 FIELD_54
40 FIELD_55
41 FIELD_56
42 FIELD_57
43 FIELD_58
44 FIELD_59
45 FIELD_60
46 FIELD_61
47 FIELD_62
48 FIELD_63
49 FIELD_64
50 FIELD_65
51 FIELD_66
52 FIELD_67
53 FIELD_68
54 FIELD_69
55 FIELD_72
56 FIELD_73
57 FIELD_74
58 FIELD_75
59 FIELD_76
60 FIELD_77
61 FIELD_80
62 FIELD_81
63 FIELD_84
64 FIELD_90
65 FIELD_93
66 FIELD_94
67 FIELD_95
68 FIELD_96
69 FIELD_97
70 FIELD_98
71 FIELD_101
72 FIELD_102
73 FIELD_105
74 FIELD_112
75 FIELD_113
76 FIELD_114
77 FIELD_115
78 FIELD_116
79 FIELD_117
80 FIELD_118
81 FIELD_119
82 FIELD_120
83 FIELD_121
84 FIELD_122
85 FIELD_123
86 FIELD_124
87 FIELD_125
88 FIELD_126
89 FIELD_127
90 FIELD_128
91 FIELD_129
92 FIELD_130
93 FIELD_131
94 FIELD_132
95 FIELD_133
96 FIELD_134
97 FIELD_135
98 FIELD_136
99 FIELD_137
100 FIELD_138
101 FIELD_139
102 FIELD_140
103 CLASS

In [19]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

(21, 9)
['CLASS', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_31', 'FIELD_41', 'FIELD_27', 'FIELD_21', 'FIELD_14', 'FIELD_42', 'FIELD_32', 'FIELD_4', 'FIELD_29', 'FIELD_3', 'FIELD_19', 'FIELD_28', 'FIELD_13', 'FIELD_20', 'FIELD_26', 'FIELD_25', 'FIELD_18']

         Name    stat  instances
103     CLASS  914890     457445
19   FIELD_33   13884     455181
24   FIELD_38    9482     424774
25   FIELD_40    1684     424845
17   FIELD_31     992     454534
26   FIELD_41     815     424773
14   FIELD_27     364     454077
11   FIELD_21     180     451086
7    FIELD_14     154     456266
27   FIELD_42     141     424729
18   FIELD_32     140     454766
1     FIELD_4      78     446905
16   FIELD_29      42     454588
0     FIELD_3      36     251201
9    FIELD_19      26     456338
15   FIELD_28      21     453980
6    FIELD_13      17     456239
10   FIELD_20      16     451062
13   FIELD_26      13     451225
12   FIELD_25       7     451079

In [20]:
AllTables[i]

[[[0, 112783, 0], [337211, 0, 0], [0, 0, 7451]], 'CLASS', 457445]

In [21]:
mydata.FIELD_73.unique()

array([     nan, 2.00e+00, 1.00e+00, 5.00e+00, 3.00e+00, 7.00e+00,
       1.00e+03, 1.00e+01, 4.00e+00, 0.00e+00, 3.00e+02, 5.00e+02,
       1.20e+03, 2.20e+01, 1.11e+02, 2.00e+02, 1.10e+02, 6.00e+00,
       2.00e+01, 1.10e+01, 8.00e+00, 3.00e+03, 1.50e+03, 3.40e+01,
       5.55e+02, 3.50e+02, 1.20e+01, 5.50e+01, 2.00e+03, 6.00e+02])