In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [2]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [3]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [4]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [5]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [6]:
corr=data[numerical_cols].corr()

In [7]:
val= pd.DataFrame(corr['L100700']).sort_values(by='L100700', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.L100700

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(438915, 2)
1 COMPARE
(438915, 2)
2 AGE
(438914, 2)
3 SEX
(438914, 2)
4 L100100
(427604, 2)
5 L100200
(428007, 2)
6 L100300
(421148, 2)
7 L100400
(423271, 2)
8 L100500
(438914, 2)
9 L100700
(438915, 2)
10 L100800
(438910, 2)
11 L101000
(429148, 2)
12 L101100
(229036, 2)
13 L101200
(438910, 2)
14 L101300
(438910, 2)
15 L101400
(387221, 2)
16 L101600
(428881, 2)
17 L101700
(438909, 2)
18 L102000
(68406, 2)
19 L102200
(5256, 2)
20 L102400
(290852, 2)
21 L102500
(15092, 2)
22 L102700
(239935, 2)
23 L102800
(686, 2)
24 L102900
(438910, 2)
25 L103000
(438875, 2)
26 L103100
(438156, 2)
27 L103200
(438155, 2)
28 L103300
(376906, 2)
29 L103400
(170108, 2)
30 L103500
(170053, 2)
31 L103600
(164724, 2)
32 L103700
(194748, 2)
33 L103800
(196705, 2)
34 L103900
(7396, 2)
35 L104000
(9003, 2)
36 L104200
(8020, 2)
37 L104300
(251977, 2)
38 L104400
(239121, 2)
39 L104500
(239125, 2)
40 L104600
(152507, 2)
41 L104800
(6, 2)
42 L104900
(15249, 2)
43 L105200
(438826, 2)
44 L105300
(14, 2)
45 L105700
(16, 2)
46 L107400
(417376, 2)
47 L107500
(416397, 2)
48 L107600
(8238, 2)
49 L107700
(165067, 2)
50 L108000
(0, 2)
51 L108600
(53534, 2)
52 L108700
(53537, 2)
53 L112000
(100, 2)
54 L114200
(11791, 2)
55 L114300
(12206, 2)
56 L114500
(453, 2)
57 L115400
(2331, 2)
58 L115500
(1992, 2)
59 L117700
(2, 2)
60 L120100
(8, 2)
61 L120200
(1, 2)
62 L120300
(14727, 2)
63 L120600
(2, 2)
64 L120700
(15379, 2)
65 L120800
(1, 2)
66 L120900
(1, 2)
67 L121300
(14607, 2)
68 L121400
(1, 2)
69 L122000
(7, 2)
70 L132900
(5, 2)
71 L138200
(154, 2)
72 L142800
(9581, 2)
73 L156100
(48861, 2)
74 L157100
(1, 2)
75 L157400
(1147, 2)
76 L157500
(27, 2)
77 L160100
(1, 2)
78 L160200
(1, 2)
79 L190000
(438882, 2)
80 L190201
(434777, 2)
81 L190202
(434768, 2)
82 L190203
(434768, 2)
83 L190204
(434768, 2)
84 L190205
(434768, 2)
85 L190206
(434768, 2)
86 L190207
(434768, 2)
87 L190208
(434768, 2)
88 L190209
(434768, 2)
89 L190210
(434768, 2)
90 L190211
(434768, 2)
91 L190300
(438873, 2)
92 L190400
(438885, 2)
93 L190500
(438855, 2)
94 L190600
(420310, 2)
95 L190700
(421976, 2)
96 L190800
(421974, 2)
97 L190900
(417386, 2)
98 L191000
(434681, 2)
99 L191100
(380160, 2)
100 L191200
(414984, 2)
101 L191300
(419337, 2)
102 L191500
(6748, 2)
103 L200500
(30925, 2)
104 L200600
(1, 2)
105 L200700
(7249, 2)
106 L201501
(78, 2)
107 L201502
(78, 2)
108 L201503
(78, 2)
109 L201600
(83, 2)
110 L202700
(32, 2)
111 L210515
(371, 2)
112 L302800
(3146, 2)
113 L303000
(9, 2)
114 L303201
(4, 2)
115 L303202
(4, 2)
116 L303203
(4, 2)
117 L303204
(4, 2)
118 L303205
(4, 2)
119 L305900
(3, 2)
120 L314900
(347, 2)
121 L315100
(1678, 2)
122 L327300
(8442, 2)
123 L336400
(277, 2)
124 L345700
(14509, 2)
125 L345800
(10087, 2)
126 L349100
(0, 2)
127 L359000
(20, 2)
128 L368900
(32, 2)
129 L377800
(262794, 2)
130 L382800
(4, 2)
131 L382900
(5, 2)
132 L393800
(6, 2)
133 L394600
(157, 2)
134 L395000
(154, 2)
135 L397100
(4982, 2)
136 L401202
(430586, 2)
137 L401203
(430586, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(15, 2)
141 L500200
(9862, 2)
142 L500300
(61, 2)
143 L500400
(407452, 2)
144 L500500
(5, 2)
145 L500700
(361524, 2)
146 L500800
(186167, 2)
147 L500900
(7, 2)
148 L501600
(2, 2)
149 L501700
(1616, 2)
150 L501800
(14533, 2)
151 L501900
(16, 2)
152 L502000
(4, 2)
153 L502100
(1, 2)
154 L502300
(12340, 2)
155 L502500
(879, 2)
156 L502600
(3, 2)
157 L502700
(19249, 2)
158 L502800
(3263, 2)
159 L503200
(2, 2)
160 L504700
(383091, 2)
161 L504800
(28857, 2)
162 L504900
(2, 2)
163 L505300
(224689, 2)
164 L505600
(16490, 2)
165 L505700
(316789, 2)
166 L505800
(180040, 2)
167 L505900
(326, 2)
168 L506300
(27614, 2)
169 L510100
(1972, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(2042, 2)
173 L511200
(321, 2)
174 L511300
(345, 2)
175 L512300
(317, 2)
176 L512400
(78204, 2)
177 L512900
(1, 2)
178 L518900
(2, 2)
179 L520100
(25, 2)
180 L520300
(1, 2)
181 L533900
(1, 2)
182 L534700
(37750, 2)
183 L540100
(1, 2)
184 L550300
(4, 2)
185 L573601
(744, 2)
186 L573602
(744, 2)
187 L573603
(744, 2)
188 L573604
(744, 2)
189 L573605
(744, 2)
190 L573606
(744, 2)
191 L573607
(744, 2)
192 L573608
(744, 2)
193 L573609
(744, 2)
194 L573610
(744, 2)
195 L573701
(276, 2)
196 L573702
(276, 2)
197 L573703
(276, 2)
198 L573704
(276, 2)
199 L573705
(276, 2)
200 L573706
(276, 2)
201 L573707
(276, 2)
202 L573708
(276, 2)
203 L573709
(276, 2)
204 L573710
(276, 2)
205 L575500
(1, 2)
206 R602300
(1602, 2)
207 R602400
(0, 2)
208 R602800
(463, 2)
209 S000100
(438738, 2)
210 S000200
(438714, 2)
211 S000300
(437865, 2)
212 S000400
(0, 2)
213 S000501
(438796, 2)
214 S000502
(438796, 2)
215 S000503
(11270, 2)
216 S000504
(11271, 2)
217 S000600
(66734, 2)
218 S000701
(270066, 2)
219 S000702
(270038, 2)
220 S000703
(168588, 2)
221 S000704
(168619, 2)
222 S001001
(87934, 2)
223 S001002
(87932, 2)
224 S001003
(91625, 2)
225 S001004
(87936, 2)
226 S001005
(91622, 2)
227 S001006
(91620, 2)
228 S001101
(14636, 2)
229 S001102
(14624, 2)
230 S001200
(437939, 2)
231 S001300
(0, 2)
232 S001400
(1, 2)
233 S001901
(347855, 2)
234 S001902
(347853, 2)
235 S001903
(348405, 2)
236 S001904
(348403, 2)
237 S001905
(347867, 2)
238 S001906
(347865, 2)
239 S001907
(347854, 2)
240 S001908
(347848, 2)
241 S002701
(62056, 2)
242 S002702
(62055, 2)
243 S004401
(28146, 2)
244 S004402
(28147, 2)
245 S004403
(28147, 2)
246 S004404
(28147, 2)
247 S004405
(28148, 2)
248 S004406
(28148, 2)
249 S004407
(28146, 2)
250 S004408
(28146, 2)
251 S004409
(28147, 2)
252 S004410
(28147, 2)
253 S004411
(28122, 2)
254 S004412
(28113, 2)
255 S004413
(23, 2)
256 S004414
(18, 2)
257 S004415
(12, 2)
258 S004416
(12, 2)
259 S004417
(20, 2)
260 S004418
(20, 2)
261 S004419
(22, 2)
262 S004420
(22, 2)
263 S004421
(25, 2)
264 S004422
(25, 2)
265 S004423
(9, 2)
266 S004424
(9, 2)
267 S005200
(0, 2)
268 S007400
(0, 2)
269 S008501
(908, 2)
270 S008502
(21, 2)
271 S008503
(898, 2)
272 S008504
(899, 2)
273 S010101
(382398, 2)
274 S010102
(382420, 2)
275 CLASS
(438915, 2)

In [8]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
59   L117700  1.000000       2
148  L501600  1.000000       2
178  L518900  1.000000       2
9    L100700  1.000000  438915
63   L120600  1.000000       2
159  L503200  1.000000       2
156  L502600  0.977399       3
184  L550300  0.723128       4
119  L305900  0.722648       3
3        SEX  0.632117  438914
130  L382800  0.605352       4
45   L105700  0.560738      16
92   L190400  0.556577  438885
53   L112000  0.541712     100
93   L190500  0.535239  438855

In [9]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['L100700', 'SEX', 'L190400', 'L190500', 'L100500', 'L190300', 'S000100', 'S000300', 'L103300', 'L103000', 'S000501', 'L101300', 'L101700', 'L100200', 'L103100', 'S000502', 'L190800', 'L103800', 'L100400', 'L101600', 'L100100', 'L102900', 'L105200', 'CLASS', 'L500800', 'L101000', 'L107400', 'L104300', 'L107700', 'L100800', 'L190000', 'L101100', 'L103200', 'L101200', 'L104500', 'L504700', 'L103400', 'L103600', 'L190700', 'L102400']

       Cols      Corr   Count
0   L100700  1.000000  438915
1       SEX  0.632117  438914
2   L190400  0.556577  438885
3   L190500  0.535239  438855
4   L100500  0.529946  438914
5   L190300  0.525861  438873
6   S000100  0.481345  438738
7   S000300  0.409238  437865
8   L103300  0.389115  376906
9   L103000  0.355585  438875
10  S000501  0.324852  438796
11  L101300  0.317302  438910
12  L101700  0.312778  438909
13  L100200  0.299151  428007
14  L103100  0.298756  438156
15  S000502  0.293266  438796
16  L190800  0.273016  421974
17  L103800  0.255449  196705
18  L100400  0.234204  423271
19  L101600  0.210206  428881
20  L100100  0.201793  427604
21  L102900  0.199186  438910
22  L105200  0.192495  438826
23    CLASS  0.191083  438915
24  L500800  0.187705  186167
25  L101000  0.180978  429148
26  L107400  0.178015  417376
27  L104300  0.177395  251977
28  L107700  0.173378  165067
29  L100800  0.168400  438910
30  L190000  0.167544  438882
31  L101100  0.165972  229036

Anova test - For categorical values [Questionnaire answers]
=======

In [10]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111','FIELD_82' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [11]:
colslist=mydataset.columns
DiabeticColVals=data.L100700

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_15
9 FIELD_16
10 FIELD_17
11 FIELD_18
12 FIELD_19
13 FIELD_20
14 FIELD_21
15 FIELD_22
16 FIELD_23
17 FIELD_24
18 FIELD_25
19 FIELD_26
20 FIELD_27
21 FIELD_28
22 FIELD_29
23 FIELD_30
24 FIELD_31
25 FIELD_32
26 FIELD_33
27 FIELD_34
28 FIELD_35
29 FIELD_36
30 FIELD_37
31 FIELD_38
32 FIELD_40
33 FIELD_41
34 FIELD_42
35 FIELD_43
36 FIELD_44
37 FIELD_45
38 FIELD_46
39 FIELD_47
40 FIELD_48
41 FIELD_49
42 FIELD_50
43 FIELD_51
44 FIELD_52
45 FIELD_53
46 FIELD_54
47 FIELD_55
48 FIELD_56
49 FIELD_57
50 FIELD_58
51 FIELD_59
52 FIELD_60
53 FIELD_61
54 FIELD_62
55 FIELD_63
56 FIELD_64
57 FIELD_65
58 FIELD_66
59 FIELD_67
60 FIELD_68
61 FIELD_69
62 FIELD_70
63 FIELD_72
64 FIELD_73
65 FIELD_74
66 FIELD_75
67 FIELD_76
68 FIELD_77
69 FIELD_80
70 FIELD_81
71 FIELD_84
72 FIELD_85
73 FIELD_90
74 FIELD_91
75 FIELD_93
76 FIELD_94
77 FIELD_95
78 FIELD_96
79 FIELD_97
80 FIELD_98
81 FIELD_101
82 FIELD_102
83 FIELD_103
84 FIELD_105
85 FIELD_106
86 FIELD_112
87 FIELD_113
88 FIELD_114
89 FIELD_115
90 FIELD_116
91 FIELD_117
92 FIELD_118
93 FIELD_119
94 FIELD_120
95 FIELD_121
96 FIELD_122
97 FIELD_123
98 FIELD_124
99 FIELD_125
100 FIELD_126
101 FIELD_127
102 FIELD_128
103 FIELD_129
104 FIELD_130
105 FIELD_131
106 FIELD_132
107 FIELD_133
108 FIELD_134
109 FIELD_135
110 FIELD_136
111 FIELD_137
112 FIELD_138
113 FIELD_139
114 FIELD_140
115 CLASS

In [12]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [13]:
FvalPvalCorr[FvalPvalCorr.Count>100000].head(30)

         Cols             F              P   Count
26   FIELD_33  11496.095600   0.000000e+00  436721
115     CLASS   9135.308203   0.000000e+00  438901
31   FIELD_38   3699.710702   0.000000e+00  407733
32   FIELD_40    766.556526   0.000000e+00  407800
33   FIELD_41    416.626380   0.000000e+00  407733
11   FIELD_18    409.765407   4.539685e-91  437629
18   FIELD_25    355.298701   3.199839e-79  432768
4     FIELD_7    251.893124  2.946074e-269  193373
34   FIELD_42    157.535154  2.364589e-266  407692
3     FIELD_6     98.903557  1.748765e-104  166560
22   FIELD_29     85.670664   6.324265e-38  436132
14   FIELD_21     56.128245   6.802275e-14  432765
12   FIELD_19     51.022458   9.145630e-13  437837
25   FIELD_32     50.072109   6.948983e-62  436342
1     FIELD_4     43.790100   2.569462e-62  428890
7    FIELD_14     32.513280   7.598194e-15  437768
2     FIELD_5     20.500975   9.689908e-28  136838
19   FIELD_26     14.985782   1.083401e-04  432894
0     FIELD_3     10.344914   1.713697e-11  242009
6    FIELD_13      9.388939   8.366102e-05  437736
24   FIELD_31      3.709708   2.448544e-02  436076
20   FIELD_27      0.668921   5.122616e-01  435637
13   FIELD_20      0.105369   7.454800e-01  432743
21   FIELD_28      0.096366   9.081312e-01  435541
8    FIELD_15           NaN            NaN  437754
9    FIELD_16           NaN            NaN  437781
10   FIELD_17           NaN            NaN  437785
15   FIELD_22           NaN            NaN  432773
16   FIELD_23           NaN            NaN  432766
17   FIELD_24           NaN            NaN  431391

In [14]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>100000].Cols)[:30])

['FIELD_33', 'CLASS', 'FIELD_38', 'FIELD_40', 'FIELD_41', 'FIELD_18', 'FIELD_25', 'FIELD_7', 'FIELD_42', 'FIELD_6', 'FIELD_29', 'FIELD_21', 'FIELD_19', 'FIELD_32', 'FIELD_4', 'FIELD_14', 'FIELD_5', 'FIELD_26', 'FIELD_3', 'FIELD_13', 'FIELD_31', 'FIELD_27', 'FIELD_20', 'FIELD_28', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [ ]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [ ]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

In [ ]:
AllTables

In [ ]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

In [ ]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

In [ ]:
AllTables[i]

In [ ]:
mydata.FIELD_73.unique()